openapi: 3.0.3
info:
  title: Accounts Receivable
  description: "Accounts Receivable (AR) is used to manage a full AR cycle, including customers, \nreceivables transactions, and generating reports.\n"
  version: '1'
servers:
  - url: https://api.intacct.com/ia/api/v1
tags:
  - name: Account labels
    description: >
      Account labels give accounts more descriptive names that are displayed anywhere the accounts are referenced in the product and in reports. Account labels is an optional feature that must be turned on in Accounts Receivable. See [Enable functionality](https://www.intacct.com/ia/docs/en_US/help_action/Accounts_Receivable/Setup/configure-accounts-receivable.htm#Enable) for more information.

  - name: Adjustments
    description: >-
      An adjustment is a transaction that applies a credit or debit in order to modify the amount owed by a customer.
  - name: Adjustment lines
    description: >-
      Line items in an adjustment represent debits or credits to modify the amount owed by a customer. Create and maintain adjustment lines from the owning [adjustment object](/openapi/ar/accounts-receivable.adjustment/tag/Adjustments).
  - name: Adjustment tax entries
    description: >-
      For VAT enabled transactions, an adjustment tax entry provides tax information about the adjustment line item it is associated with. Create and maintain adjustment tax entries from the owning [AR adjustment line](/openapi/ar/accounts-receivable.adjustment-line/tag/Adjustment-lines) object.
  - name: Advances
    description: >-
      Advances record an advance payment from a customer before creating an invoice, for example, when a customer provides a retainer.
  - name: Advance lines
    description: >-
      An advance line item is associated with a particular advance. Each advance can have any number of line items. Create and maintain advance lines from the owning [advance object](/openapi/ar/accounts-receivable.advance/tag/Advances).
  - name: Bill back templates
    description: >-
      Create a bill back template for each recurring bill back transaction. The template provides line item information needed in the bill back transaction, including invoice line items and corresponding line items in the system-generated bill.
  - name: Bill back template lines
    description: >-
      Line items in a bill back template provide the GL accounts and departments to use for line items in corresponding invoices and bills. Create and maintain bill back template lines from the owning [bill back template object](/openapi/ar/accounts-receivable.billback-template/tag/Bill-back-templates).
  - name: Customers
    description: >
      A customer is any company to which you sell goods and services. Sage Intacct applications use the customer information for record-keeping purposes, printing the names and addresses on forms, such as invoices, and for determining the ship-to contact so tax can be computed.

  - name: Customer contacts
    description: >-
      Contact information for a customer. Create and maintain customer contacts from the owning [customer object](/openapi/ar/accounts-receivable.customer/tag/Customers).
  - name: Customer email templates
    description: >-
      Customer email templates can be used to standardize messages sent to multiple customers.
  - name: Customer item cross references
    description: >-
      Customer item cross references match the customer identifier for an item to the item ID your company uses, which makes transaction entry easier and more robust.
  - name: Customer restricted departments
    description: >-
      In shared multi-entity companies, customers can be restricted to specific departments or department groups to prevent the customer from being used in the wrong entity. Create and maintain restricted departments from the owning [customer object](/openapi/ar/accounts-receivable.customer/tag/Customers).
  - name: Customer restricted locations
    description: >-
      In shared multi-entity companies, customers can be restricted to specific locations or location groups to prevent the customer from being used in the wrong entity. Create and maintain restricted locations from the owning [customer object](/openapi/ar/accounts-receivable.customer/tag/Customers).
  - name: Customer account groups
    description: Organize customers into account groups to simplify reporting.
  - name: Customer messages
    description: >-
      This object represents a message associated with a customer. The customer message field on invoices that are created for the associated customer are populated with the message contained in this object. A customer is associated with a message using the `customerMessage` property in the [customer](/openapi/ar/accounts-receivable.customer/tag/Customers) object.
  - name: Customer types
    description: >-
      Customer types provide a way to group customers into categories, such as reseller and end user. Setting up meaningful customer types streamlines management and analysis of customer information.
  - name: Customer totals
    description: Provides information about the total amount due from a customer.
  - name: Customer groups
    description: >-
      A customer group categorizes customer dimension records, mainly for the purpose of structuring financial reporting.
  - name: Delivery histories
    description: >-
      History of invoices delivered to a customer by print or email. Each delivery history object represents a single delivered invoice.
  - name: Invoices
    description: >-
      An invoice object represents an invoice sent to a customer for goods or services provided.
  - name: Invoice lines
    description: >-
      Line items in an invoice represent transactions captured in that invoice. Create and maintain invoice lines from the owning [invoice object](/openapi/ar/accounts-receivable.invoice/tag/Invoices).
  - name: Invoice tax entries
    description: >-
      For VAT enabled transactions, an invoice tax entry provides tax information about the invoice line item it is associated with. Create and maintain adjustment tax entries from the owning [AR invoice line](/openapi/ar/accounts-receivable.invoice-line/tag/Invoice-lines) object.
  - name: Invoice summaries
    description: >-
      Invoice summaries are collections of the same type of transactions grouped together for processing. AR invoice summaries can be either open or closed. Invoices can be added to open summaries.
  - name: Payments
    description: >-
      A payment is a transaction used to record a payment against an invoice or an adjustment/debit memo. For more information, see [Payments from customers](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_payments) in the Sage Intacct Help Center.
  - name: Payment details
    description: >
      A payment detail object can specify either an object, like an invoice or an adjustment, as a whole (header level), or it can specify a line item. A payment detail object also provides the transaction amount that was received.


      Create and maintain AR payment details from the owning [payment object](/openapi/ar/accounts-receivable.payment/tag/Payments).

  - name: Payment lines
    description: >
      Line items in an AR payment represent charges for items or services included in an invoice or adjustment.


      Create and maintain AR payment lines from the owning [payment object](/openapi/ar/accounts-receivable.payment/tag/Payments).

  - name: Payment summaries
    description: >-
      AR payment summaries are collections of the same type of transactions grouped together for processing. AR payment summaries can be either open or closed. Payments can be added to open summaries.
  - name: Recurring invoices
    description: >-
      Recurring invoices are invoices that repeat at periods and durations that you define in the recurrence schedule.
  - name: Recurring invoice lines
    description: >-
      Line items in a recurring invoice represent transactions captured in that recurring invoice. Create and maintain recurring invoice lines from the owning [recurring invoice object](/openapi/ar/accounts-receivable.recurring-invoice/tag/Recurring-invoices).
  - name: Recurring invoice tax entries
    description: >-
      For VAT enabled transactions, an invoice tax entry provides tax information about the invoice line item it is associated with. Create and maintain adjustment tax entries from the owning [AR recurring invoice line](/openapi/ar/accounts-receivable.recurring-invoice-line/tag/Recurring-invoice-lines) object.
  - name: Revenue recognition templates
    description: >-
      Revenue recognition templates define how to amortize deferred revenue. Each template is associated with an Accounts Receivable label or Order Entry Item GL group.
  - name: Summaries
    description: >-
      Summaries are collections of the same type of transactions, grouped together for processing. Summaries can be either opened or closed. Invoices, adjustments, and deposits can be added to open summaries.
  - name: Terms
    description: >-
      Accounts Receivable (AR) terms are the rules a company establishes for extending credit to customers. Terms can be associated with AR transactions and with customers.
  - name: Territories
    description: >
      Territories are optionally included in customer records and are used with Accounts Receivable reports. They can be useful for filtering and categorizing data, assuming your company has multiple territories.

  - name: Shipping methods
    description: >-
      A shipping method is a specific way to transport goods, such as UPS or FedEx.
  - name: Manual deposits
    description: >
      Manual deposits can be used to record receipt of money that's not related to an invoice (for example, an over-the-counter cash sale). For more information, see [AR manual deposits](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_ar_deposits) in the Sage Intacct Help Center.

  - name: Manual deposit lines
    description: >-
      Line items in a manual deposit represent payments included in the deposit. Create and maintain AR manual deposit lines from the owning [manual deposit object](/openapi/ar/accounts-receivable.manual-deposit/tag/Manual-deposits).
  - name: Manual deposit summaries
    description: >-
      A manual deposit summary is a collection of payments received from customers, such as quick or manual deposit payments, grouped together for processing. Manual deposit summaries can be either opened or closed. Manual deposits can be added to open summaries.
  - name: Dunning levels
    description: "Dunning is the process of communicating with customers to collect overdue balances. Dunning levels define the levels of notices that are sent during the collection process. To learn more, see [Dunning notices](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_dunning_notices) in the Sage Intacct Help Center. \n"
  - name: Dunning customers
    description: >
      Information about a customer receiving a dunning notice. A dunning notice is a notification sent to customers who have overdue invoices. To learn more, see [Dunning notices](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_dunning_notices) in the Sage Intacct Help Center. Create and maintain dunning customers from the owning [dunning notice](accounts-receivable.dunning-notice) object.

  - name: Dunning invoices
    description: >
      Dunning invoices are part of a generated dunning notice when a customer fails to pay an invoice by the due date. To learn more, see [Dunning notices](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_dunning_notices) in the Sage Intacct Help Center. Create and maintain dunning invoices from the owning [dunning customer](accounts-receivable.dunning-customer) object.

  - name: Dunning notices
    description: "Dunning is the process of communicating with customers to collect overdue balances. A dunning notice is a notification sent to customers who have overdue invoices. To learn more, see [Dunning notices](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=TOC_dunning_notices) in the Sage Intacct Help Center. \n"
paths:
  /objects/accounts-receivable/account-label:
    get:
      summary: List account labels
      description: >-
        Returns up to 100 object references from the collection with a key, ID, and link for each label. This operation is mostly for use in testing; use the [query service](/openapi/common/core.query/tag/Query) to find objects that meet certain criteria and to specify properties that are returned.
      tags:
        - Account labels
      operationId: list-accounts-receivable-account-label
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of ar-account-label objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List account labels:
                  value:
                    ia::result:
                      - key: '9'
                        id: Retail Sales
                        href: /objects/accounts-receivable/account-label/9
                      - key: '41'
                        id: Retail Sales 2
                        href: /objects/accounts-receivable/account-label/41
                      - key: '10'
                        id: Sales
                        href: /objects/accounts-receivable/account-label/10
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create an account label
      description: Creates a new AR account label.
      tags:
        - Account labels
      operationId: create-accounts-receivable-account-label
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/accounts-receivable-account-label'
                - $ref: '#/components/schemas/accounts-receivable-account-labelRequiredProperties'
            examples:
              Create an account label:
                value:
                  id: Wholesale Sales
                  description: Wholesale sales north america
                  glAccount:
                    id: '2050'
                  status: active
                  offsetGLAccount:
                    id: '1200.01'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                title: New ar-account-label
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Create an account label:
                  value:
                    ia::result:
                      key: '110'
                      id: Wholesale Sales
                      href: /objects/accounts-receivable/account-label/110
                    ia::meta:
                      totalCount: 1
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/accounts-receivable/account-label/{key}:
    parameters:
      - name: key
        description: System-assigned key for the account label.
        in: path
        required: true
        schema:
          type: integer
          example: 110
        example: '99'
    get:
      summary: Get an account label
      description: Returns detailed information for a specified AR account label.
      tags:
        - Account labels
      operationId: get-accounts-receivable-account-label-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the ar-account-label
                properties:
                  ia::result:
                    $ref: '#/components/schemas/accounts-receivable-account-label'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an account label:
                  value:
                    ia::result:
                      key: '68'
                      id: Wholesale Sales
                      description: Wholesale Sales north America
                      glAccount:
                        id: 000007.10.90--Check_Petty Cash
                        key: '445'
                        href: /objects/general-ledger/account/445
                      status: active
                      offsetGLAccount:
                        id: 000007.10.90--Check_Petty Cash
                        key: '445'
                        href: /objects/general-ledger/account/445
                      isTaxable: false
                      isTax: true
                      isSubtotal: true
                      taxGroup:
                        id: Auto Account Label Tax
                        key: '14'
                        href: /objects/tax/account-label-tax-group/14
                      taxCode: CST
                      deferredRevenueGLAccount:
                        id: 000007.10.90
                        key: '445'
                        href: /objects/general-ledger/account/445
                      revenueRecognitionTemplate:
                        id: Straight Line
                        templateTitle: Straight Line
                        key: '28'
                        href: '/objects/accounts-receivable/revenue-recognition-template/28'
                      audit:
                        modifiedDateTime: '2024-08-02T00:00:00Z'
                        createdDateTime: '2024-08-02T00:00:00Z'
                        modifiedBy: '1'
                        createdBy: '1'
                      entity:
                        key: null
                        id: null
                        name: null
                      href: /objects/accounts-receivable/account-label/68
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    patch:
      summary: Update an account label
      description: >-
        Updates an existing AR account label by setting field values. Any fields not provided remain unchanged.
      tags:
        - Account labels
      operationId: update-accounts-receivable-account-label-key
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/accounts-receivable-account-label'
                - type: object
                  properties:
                    id:
                      readOnly: true
            examples:
              Update a single value:
                value:
                  status: inactive
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Updated account label
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Updated label:
                  value:
                    ia::result:
                      key: '68'
                      id: Wholesale Sales
                      href: /objects/accounts-receivable/account-label/68
                    ia::meta:
                      totalCount: 1
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    delete:
      summary: Delete an account label
      description: Deletes an AR account label.
      tags:
        - Account labels
      operationId: delete-accounts-receivable-account-label-key
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/accounts-receivable/adjustment:
    get:
      summary: List adjustments
      description: >-
        Returns a collection with a key, ID, and link for each adjustment. This operation is mostly for use in testing; use the [query service](/openapi/common/core.query/tag/Query) to find objects that meet certain criteria and to specify properties that are returned.
      tags:
        - Adjustments
      operationId: list-accounts-receivable-adjustment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of adjustment objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List adjustments:
                  value:
                    ia::result:
                      - key: '259'
                        id: '259'
                        href: /objects/accounts-receivable/adjustment/259
                      - key: '295'
                        id: '295'
                        href: /objects/accounts-receivable/adjustment/295
                      - key: '296'
                        id: '296'
                        href: /objects/accounts-receivable/adjustment/296
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create an adjustment
      description: Creates a new adjustment.
      tags:
        - Adjustments
      operationId: create-accounts-receivable-adjustment
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/accounts-receivable-adjustment'
                - $ref: '#/components/schemas/accounts-receivable-adjustmentRequiredProperties'
            examples:
              Create an adjustment:
                value:
                  customer:
                    id: C-00005
                  createdDate: '2023-06-28'
                  description: Lyon USD Adj
                  adjustmentSummary:
                    id: 'AR Summary: 2022/01/01 Batch'
                  baseCurrency:
                    paidDate: '2022-11-15'
                    currency: USD
                  txnCurrency:
                    currency: USD
                  lines:
                    - txnCurrency:
                        amount: '120.03'
                        currency: USD
                      glAccount:
                        id: '2990'
                      dimensions:
                        location:
                          id: CA
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                title: New adjustment
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to new adjustment:
                  value:
                    ia::result:
                      id: '270'
                      key: '270'
                      href: /objects/accounts-receivable/adjustment/270
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/accounts-receivable/adjustment/{key}:
    parameters:
      - name: key
        description: System-assigned unique key for the adjustment.
        in: path
        required: true
        schema:
          type: string
        example: '99'
    get:
      summary: Get an adjustment
      description: Returns detailed information for a specified adjustment.
      tags:
        - Adjustments
      operationId: get-accounts-receivable-adjustment-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the adjustment
                properties:
                  ia::result:
                    $ref: '#/components/schemas/accounts-receivable-adjustment'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an adjustment:
                  value:
                    ia::result:
                      id: '288'
                      key: '288'
                      txnType: ra
                      adjustmentNumber: adj-1
                      state: posted
                      customer:
                        id: '1'
                        key: '1'
                        name: Power Aerospace Materials
                        totalDue: '-17909.55'
                        href: /objects/accounts-receivable/customer/1
                      documentNumber: ADJ008567
                      description: Adjustment 3
                      createdDate: '2024-09-24'
                      entity:
                        key: '1'
                        id: '1'
                        name: United States of America
                        href: /objects/company-config/entity/1
                      glPostingDate: '2024-09-24'
                      adjustmentSummary:
                        id: 'AR Summary: 2022/01/01 Batch'
                        key: 280
                        href: /objects/accounts-receivable/summary/280
                      baseCurrency:
                        paidDate: '2024-07-19'
                        currency: AUD
                        totalAmountEntered: '-150.00'
                        totalSelected: '0.00'
                        totalPaid: '0.00'
                        totalDue: '-150.00'
                      txnCurrency:
                        currency: AUD
                        totalEntered: '-150.00'
                        totalSelected: '0.00'
                        totalPaid: '0.00'
                        totalDue: '-150.00'
                      exchangeRate:
                        date: '2024-07-17'
                        typeId: Intacct Daily Rate
                        rate: '1'
                      contacts:
                        billTo:
                          id: Power Aerospace Materials(C1)
                          key: '152'
                          href: /objects/company-config/contact/152
                        shipTo:
                          id: Power Aerospace Materials(C1)
                          key: '152'
                          tax:
                            group:
                              id: null
                              key: null
                            taxId: null
                          href: /objects/company-config/contact/152
                      moduleKey: 4.AR
                      audit:
                        createdDateTime: '2024-09-24T13:19:27Z'
                        modifiedDateTime: '2024-09-24T14:01:12Z'
                        createdBy: '1'
                        modifiedBy: '1'
                      taxSolution:
                        key: '1'
                        id: Australia - GST
                        href: /objects/tax/tax-solution/1
                      attachment:
                        id: null
                        key: null
                      lines:
                        - id: '2686'
                          key: '2686'
                          arAdjustment:
                            id: '288'
                            key: '288'
                            href: /objects/accounts-receivable/adjustment/288
                          glAccount:
                            key: '254'
                            id: '6103'
                            name: Bonuses
                            href: /objects/general-ledger/account/254
                          accountLabel:
                            key: '35'
                            id: Bonuses
                            href: /objects/accounts-receivable/account-label/35
                          baseCurrency:
                            amount: '-125'
                            currency: AUD
                          txnCurrency:
                            amount: '-125'
                            currency: AUD
                          dimensions:
                            department:
                              key: null
                              id: null
                              name: null
                            location:
                              key: '4'
                              id: '4'
                              name: Australia
                              href: /objects/company-config/location/4
                            project:
                              key: null
                              id: null
                              name: null
                            customer:
                              key: '1'
                              id: '1'
                              name: Power Aerospace Materials
                              href: /objects/accounts-receivable/customer/1
                            vendor:
                              key: null
                              id: null
                              name: null
                            employee:
                              key: null
                              id: null
                              name: null
                            item:
                              key: null
                              id: null
                              name: null
                            class:
                              key: null
                              id: null
                              name: null
                            warehouse:
                              key: null
                              id: null
                              name: null
                          memo: null
                          exchangeRate:
                            date: null
                            typeId: null
                            rate: '1'
                          lineNumber: '1'
                          adjustmentType: ra
                          isTax: false
                          audit:
                            createdDateTime: '2024-09-24T13:19:27Z'
                            modifiedDateTime: '2024-09-24T14:01:12Z'
                            createdBy: '1'
                            modifiedBy: '1'
                          taxEntries:
                            - txnTaxAmount: '-25.00'
                              baseTaxAmount: '-25.00'
                              orderEntryTaxDetail:
                                id: AUS Standard1
                                key: '89'
                                href: /objects/tax/order-entry-tax-detail/89
                              id: '2688'
                              key: '2688'
                              taxRate: 20
                              adjustmentLine:
                                id: '2686'
                                key: '2686'
                                href: '/objects/accounts-receivable/adjustment-line/2686'
                              href: '/objects/accounts-receivable/adjustment-tax-entry/2688'
                          href: /objects/accounts-receivable/adjustment-line/2686
                      href: /objects/accounts-receivable/adjustment/288
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    patch:
      summary: Update an adjustment
      description: >-
        Updates an existing adjustment by setting field values. Any fields not provided remain unchanged.
      tags:
        - Adjustments
      operationId: update-accounts-receivable-adjustment-key
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/accounts-receivable-adjustment'
                - type: object
                  properties:
                    id:
                      readOnly: true
            examples:
              Update an adjustment:
                value:
                  description: May 2023 Refund
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Updated adjustment
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to updated adjustment:
                  value:
                    ia::result:
                      id: '16855'
                      key: '16855'
                      href: /objects/accounts-receivable/adjustment/16855
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    delete:
      summary: Delete an adjustment
      description: >-
        Deletes an adjustment. An adjustment can be deleted if it has not yet been applied to an invoice.
      tags:
        - Adjustments
      operationId: delete-accounts-receivable-adjustment-key
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/accounts-receivable/adjustment-line:
    get:
      summary: List adjustment lines
      description: >-
        Returns a collection with a key, ID, and link for each adjustment line. This operation is mostly for use in testing; use the [query service](/openapi/common/core.query/tag/Query) to find objects that meet certain criteria and to specify properties that are returned.
      tags:
        - Adjustment lines
      operationId: list-accounts-receivable-adjustment-line
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of adjustment-line objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                Get adjustments:
                  value:
                    ia::result:
                      - key: '2651'
                        id: '2651'
                        href: /objects/accounts-receivable/adjustment-line/2651
                      - key: '2563'
                        id: '2563'
                        href: /objects/accounts-receivable/adjustment-line/2563
                      - key: '3481'
                        id: '3481'
                        href: /objects/accounts-receivable/adjustment-line/3481
                    ia::meta:
                      totalCount: 3
                      start: 1
                      ageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/accounts-receivable/adjustment-line/{key}:
    parameters:
      - name: key
        description: System-assigned key for the adjustment line.
        in: path
        required: true
        schema:
          type: string
        example: '99'
    get:
      summary: Get an adjustment line
      description: Returns detailed information for a specified adjustment line.
      tags:
        - Adjustment lines
      operationId: get-accounts-receivable-adjustment-line-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the adjustment-line
                properties:
                  ia::result:
                    $ref: '#/components/schemas/accounts-receivable-adjustment-line'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an adjustment line:
                  value:
                    ia::result:
                      id: '2686'
                      key: '2686'
                      arAdjustment:
                        id: '288'
                        key: '288'
                        href: /objects/accounts-receivable/adjustment/288
                      glAccount:
                        key: '254'
                        id: '6103'
                        name: Bonuses
                        href: /objects/general-ledger/account/254
                      accountLabel:
                        key: '35'
                        id: Bonuses
                        href: /objects/accounts-receivable/account-label/35
                      baseCurrency:
                        amount: '-125.00'
                        currency: AUD
                      txnCurrency:
                        amount: '-125.00'
                        currency: AUD
                      dimensions:
                        department:
                          key: null
                          id: null
                          name: null
                        location:
                          key: '4'
                          id: '4'
                          name: Australia
                          href: /objects/company-config/location/4
                        project:
                          key: null
                          id: null
                          name: null
                        customer:
                          key: '1'
                          id: '1'
                          name: Power Aerospace Materials
                          href: /objects/accounts-receivable/customer/1
                        vendor:
                          key: null
                          id: null
                          name: null
                        employee:
                          key: null
                          id: null
                          name: null
                        item:
                          key: null
                          id: null
                          name: null
                        class:
                          key: null
                          id: null
                          name: null
                        warehouse:
                          key: null
                          id: null
                          name: null
                      memo: adjustment one
                      exchangeRate:
                        date: '2024-09-24'
                        typeId: Intacct Daily Rate
                        rate: '1'
                      lineNumber: '1'
                      adjustmentType: ra
                      isTax: false
                      audit:
                        createdDateTime: '2024-09-24T13:19:27Z'
                        modifiedDateTime: '2024-09-24T14:01:12Z'
                        createdBy: '1'
                        modifiedBy: '1'
                      taxEntries:
                        - id: '2688'
                          key: '2688'
                          adjustmentLine:
                            id: '2686'
                            key: '2686'
                            href: /objects/accounts-receivable/adjustment-line/2686
                          baseTaxAmount: '-25.00'
                          txnTaxAmount: '-25.00'
                          taxRate: 20
                          orderEntryTaxDetail:
                            id: AUS Standard1
                            key: '89'
                            href: /objects/tax/order-entry-tax-detail/89
                          href: '/objects/accounts-receivable/adjustment-tax-entry/2688'
                      href: /objects/accounts-receivable/adjustment-line/2686
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/accounts-receivable/adjustment-tax-entry:
    get:
      summary: List adjustment tax entries
      description: >-
        Returns a collection with a key, ID, and link for each adjustment tax entry. This operation is mostly for use in testing; use the [query service](/openapi/common/core.query/tag/Query) to find objects that meet certain criteria and to specify properties that are returned.
      tags:
        - Adjustment tax entries
      operationId: list-accounts-receivable-adjustment-tax-entry
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of adjustment tax entry objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List adjustment tax entries:
                  value:
                    ia::result:
                      - key: '8'
                        id: '8'
                        href: /objects/accounts-receivable/adjustment-tax-entry/8
                      - key: '9'
                        id: '9'
                        href: /objects/accounts-receivable/adjustment-tax-entry/9
                      - key: '10'
                        id: '10'
                        href: /objects/accounts-receivable/adjustment-tax-entry/10
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/accounts-receivable/adjustment-tax-entry/{key}:
    parameters:
      - name: key
        description: System-assigned unique key for the adjustment tax entry.
        in: path
        required: true
        schema:
          type: string
        example: '33'
    get:
      summary: Get an adjustment tax entry
      description: Returns detailed information for a specified adjustment tax entry.
      tags:
        - Adjustment tax entries
      operationId: get-accounts-receivable-adjustment-tax-entry-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the adjustment tax entry
                properties:
                  ia::result:
                    $ref: '#/components/schemas/accounts-receivable-adjustment-tax-entry'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an adjustment tax entry:
                  value:
                    ia::result:
                      id: '2688'
                      key: '2688'
                      adjustmentLine:
                        id: '2686'
                        key: '2686'
                        href: /objects/accounts-receivable/adjustment-line/2686
                      baseTaxAmount: '-25.00'
                      txnTaxAmount: '-25.00'
                      taxRate: 20
                      orderEntryTaxDetail:
                        id: AUS Standard1
                        key: '89'
                        href: /objects/tax/order-entry-tax-detail/89
                      href: /objects/accounts-receivable/adjustment-tax-entry/2688
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/accounts-receivable/advance:
    get:
      summary: List advances
      description: >-
        Returns a collection with a key, ID, and link for each advance. This operation is mostly for use in testing; use the [query service](/openapi/common/core.query/tag/Query) to find objects that meet certain criteria and to specify properties that are returned.
      tags:
        - Advances
      operationId: list-accounts-receivable-advance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of advance objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List advances:
                  value:
                    ia::result:
                      - key: '621'
                        id: '621'
                        href: /objects/accounts-receivable/advance/621
                      - key: '777'
                        id: '777'
                        href: /objects/accounts-receivable/advance-line/777
                      - key: '802'
                        id: '802'
                        href: /objects/accounts-receivable/advance-line/802
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create an advance
      description: "Creates a new advance.\nIf Accounts Receivable automatic summaries are enabled, you must include either a `financialEntity` in `paymentInformation` or a `glAccount` with an `undepositedGLAccountNumber` to successfully create an advance. \nIf the Accounts Receivable application is configured to Enable Account Labels, you must include an `accountLabel` in the items array to create an advance.\n"
      tags:
        - Advances
      operationId: create-accounts-receivable-advance
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/accounts-receivable-advance'
                - $ref: '#/components/schemas/accounts-receivable-advanceRequiredProperties'
            examples:
              Create an advance:
                value:
                  customer:
                    id: C-00019
                  paymentInformation:
                    paymentDate: '2024-06-13'
                    receiptDate: '2024-06-13'
                    paymentMethod: printedCheck
                    financialEntity:
                      id: BOA
                  advanceSummary:
                    id: '511'
                  items:
                    - glAccount:
                        id: '2200'
                      accountLabel:
                        id: Travel
                      txnAmount: '500'
                      dimensions:
                        location:
                          id: CA
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                title: New advance
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to new advance:
                  value:
                    ia::result:
                      key: '799'
                      id: '799'
                      href: /objects/accounts-receivable/advance/799
                      ia::meta:
                        totalCount: 1
                        totalSuccess: 1
                        totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/accounts-receivable/advance/{key}:
    parameters:
      - name: key
        description: System-assigned unique key for the advance.
        in: path
        required: true
        example: '757'
        schema:
          type: string
    get:
      summary: Get an advance
      description: Returns detailed information for a specified advance.
      tags:
        - Advances
      operationId: get-accounts-receivable-advance-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the advance
                properties:
                  ia::result:
                    $ref: '#/components/schemas/accounts-receivable-advance'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an advance:
                  value:
                    ia::result:
                      id: '1169'
                      key: '1169'
                      advanceSummary:
                        id: '300'
                        key: '300'
                        href: /objects/accounts-receivable/summary/300
                      paymentInformation:
                        financialEntity:
                          id: SBME
                        paymentMethod: cash
                        currency:
                          baseCurrency: USD
                          txnCurrency: USD
                          exchangeRateDate: '2024-01-10'
                          exchangeRateTypeId: Standard rate
                          exchangeRate: 1
                        receiptDate: '2024-06-13'
                        paymentDate: '2024-06-13'
                        totalSelected: '0.00'
                        txnTotalSelected: '0.00'
                        totalPaid: '0.00'
                        txnTotalPaid: '0.00'
                        totalDue: '10.00'
                        totalTxnAmountDue: '10.00'
                      glAccount:
                        undepositedGLAccountNumber: '1070'
                      customer:
                        id: Cust_ForInvoice_0021
                        name: Cust_ForInvoice_0021
                      referenceNumber: Number10
                      description: Advance 10
                      advanceNumber: Advance-001
                      recordType: rr
                      state: posted
                      totalEntered: '10.00'
                      txnTotalEntered: '10.00'
                      audit:
                        createdDateTime: '2024-06-13T00:00:00Z'
                        modifiedDateTime: '2024-06-26T05:51:05Z'
                        createdByUser:
                          key: '1'
                          href: /objects/company-config/user/1
                        createdBy: '1'
                        modifiedByUser:
                          key: '1'
                          href: /objects/company-config/user/1
                        modifiedBy: '1'
                      createdDate: '2024-06-13'
                      reconciliationGroup:
                        cleared: 'false'
                        clearingDate: '2024-06-13'
                      isSystemGenerated: false
                      attachment:
                        id: '10'
                      deposit:
                        id: '234'
                        key: '234'
                      items:
                        - id: '2596'
                          key: '2596'
                          arAdvance:
                            id: '1169'
                            key: '1169'
                            recordType: rr
                            href: /objects/accounts-receivable/advance/1169
                          glAccount:
                            key: '259'
                            id: '6254'
                            name: Travel
                            href: /objects/general-ledger/account/259
                          accountLabel:
                            name: Travel
                            id: '10'
                          baseAmount: '10.00'
                          txnAmount: '10.00'
                          dimensions:
                            department:
                              key: '14'
                              id: '77'
                              name: Quality Assurance
                              href: /objects/company-config/department/14
                            location:
                              key: '42'
                              id: WDH
                              name: West Delhi
                              href: /objects/company-config/location/42
                            project:
                              key: null
                              id: null
                              name: 'null'
                            nsp::jurisdiction:
                              key: null
                          baseLocation:
                            name: West Delhi
                            key: '42'
                            href: /objects/company-config/location/42
                          memo: 'null'
                          currency:
                            exchangeRate:
                              date: '2024-06-13'
                              typeId: 'null'
                              rate: 1
                            baseCurrency: USD
                            txnCurrency: USD
                          lineNumber: 1
                          paymentInformation:
                            totalPaid: '0.00'
                            txnTotalPaid: '0.00'
                            totalSelected: '0.00'
                            txnTotalSelected: '0.00'
                          audit:
                            createdDateTime: '2024-06-26T05:51:05Z'
                            modifiedDateTime: '2024-06-26T05:51:05Z'
                            createdBy: '1'
                            modifiedBy: '1'
                          href: /objects/accounts-receivable/advance-line/2596"
                      href: /objects/accounts-receivable/advance/1169
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    patch:
      summary: Update an advance
      description: >-
        Updates an existing advance by setting field values. Any fields not provided remain unchanged. Advances that have not yet been applied to an invoice can be updated. The General Ledger account book for the advance must also be open. If an advance was applied to an invoice and later unapplied, it cannot be updated.
      tags:
        - Advances
      operationId: update-accounts-receivable-advance-key
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/accounts-receivable-advance'
                - type: object
                  properties:
                    id:
                      readOnly: true
                    state:
                      readOnly: true
            examples:
              Update an advance:
                value:
                  referenceNumber: DOC1234
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Updated advance
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to updated advance:
                  value:
                    ia::result:
                      key: '799'
                      id: '799'
                      href: /objects/accounts-receivable/advance/799
                      ia::meta:
                        totalCount: 1
                        totalSuccess: 1
                        totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    delete:
      summary: Delete an advance
      description: Deletes an advance.
      tags:
        - Advances
      operationId: delete-accounts-receivable-advance-key
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/accounts-receivable/advance-line:
    get:
      summary: List advance lines
      description: >-
        Returns a collection with a key, ID, and link for each advance line item. This operation is mostly for use in testing; use the [query service](/openapi/common/core.query/tag/Query) to find objects that meet certain criteria and to specify properties that are returned.
      tags:
        - Advance lines
      operationId: list-accounts-receivable-advance-line
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List advance lines
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List advance lines:
                  value:
                    ia::result:
                      - key: '2031'
                        id: '2031'
                        href: /objects/accounts-receivable/advance-line/2031
                      - key: '2067'
                        id: '2067'
                        href: /objects/accounts-receivable/advance-line/2067
                      - key: '856'
                        id: '856'
                        href: /objects/accounts-receivable/advance-line/856
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/accounts-receivable/advance-line/{key}:
    parameters:
      - name: key
        description: System-assigned unique key for the advance line.
        example: '41'
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get an advance line
      description: Returns detailed information for a specified advance line.
      tags:
        - Advance lines
      operationId: get-accounts-receivable-advance-line-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the advance line
                properties:
                  ia::result:
                    $ref: '#/components/schemas/accounts-receivable-advance-line'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an advance line:
                  value:
                    ia::result:
                      key: '2067'
                      id: '2067'
                      advance:
                        id: '799'
                        key: '799'
                        recordType: rr
                        href: /objects/accounts-receivable/advance/799
                      glAccount:
                        key: '156'
                        id: '2200'
                        name: Customer Advances
                        href: /objects/general-ledger/account/156
                      accountLabel:
                        name: Customer Advances
                        id: westsa
                      baseAmount: '100.00'
                      txnAmount: '100.00'
                      dimensions:
                        department:
                          key: '9'
                          id: '11'
                          name: Accounting
                          href: /objects/company-config/department/9
                        location:
                          key: '1'
                          id: '1'
                          name: United States of America
                          href: /objects/company-config/location/1
                        project:
                          key: null
                          id: null
                          name: null
                        contract:
                          key: null
                          id: null
                          name: null
                        customer:
                          key: '36'
                          id: C-00045
                          name: Metro Artic, Inc.
                          href: /objects/accounts-receivable/customer/36
                        vendor:
                          key: null
                          id: null
                          name: null
                        employee:
                          key: null
                          id: null
                          name: null
                        item:
                          key: null
                          id: null
                          name: null
                        class:
                          key: null
                          id: null
                          name: null
                      baseLocation:
                        id: United States of America
                        key: '1'
                        href: /objects/company-config/location/1
                      memo: New contract down payment
                      currency:
                        exchangeRate:
                          date: '2024-04-25'
                          typeId: '-1'
                          rate: 0.04937
                        baseCurrency: USD
                        txnCurrency: USD
                      lineNumber: 1
                      paymentInformation:
                        totalPaid: '100.00'
                        txnTotalPaid: '100.00'
                        totalSelected: '100.00'
                        txnTotalSelected: '100.00'
                      audit:
                        createdDateTime: '2024-06-13T06:42:36Z'
                        modifiedDateTime: '2024-06-13T07:31:51Z'
                        createdByUser:
                          key: '1'
                          href: /objects/company-config/user/1
                        createdBy: '1'
                        modifiedByUser:
                          key: '1'
                          href: /objects/company-config/user/1
                        modifiedBy: '1'
                      href: /objects/accounts-receivable/advance-line/2067
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/accounts-receivable/billback-template:
    get:
      summary: List bill back templates
      description: >-
        Returns a collection with a key, ID, and link for each bill back template. This operation is mostly for use in testing; use the [query service](/openapi/common/core.query/tag/Query) to find objects that meet certain criteria and to specify properties that are returned.
      tags:
        - Bill back templates
      operationId: list-accounts-receivable-billback-template
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of billback-template objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List bill back templates:
                  value:
                    ia::result:
                      - key: '11'
                        id: BBT-AU2I
                        href: /objects/accounts-receivable/billback-template/11
                      - key: '14'
                        id: BBT-AU2US
                        href: /objects/accounts-receivable/billback-template/14
                      - key: '25'
                        id: BBT-FR2US
                        href: /objects/accounts-receivable/billback-template/25
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create a bill back template
      description: >-
        Creates a new bill back template. Several configuration steps must be completed before creating bill back templates. For more information, see [Set up inter-entity bill back](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Set_up_bill_back) in the Sage Intacct Help Center.
      tags:
        - Bill back templates
      operationId: create-accounts-receivable-billback-template
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/accounts-receivable-billback-template'
                - $ref: '#/components/schemas/accounts-receivable-billback-templateRequiredProperties'
            examples:
              Create a bill back template:
                value:
                  id: BBT-FR2US
                  description: BBT France to US
                  enableInterEntityPostings: true
                  lines:
                    - invoiceGLAccount:
                        key: '194'
                      billGLAccount:
                        key: '109'
                      department:
                        key: '9'
                      memo: For France
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                title: New billback-template
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to new bill back template:
                  value:
                    ia::result:
                      key: '26'
                      id: BBT-FR2US
                      href: /objects/accounts-receivable/billback-template/26
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/accounts-receivable/billback-template/{key}:
    parameters:
      - name: key
        description: System-assigned unique key for the bill back template.
        example: '17'
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get a bill back template
      description: Returns detailed information for a specified bill back template.
      tags:
        - Bill back templates
      operationId: get-accounts-receivable-billback-template-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the billback-template
                properties:
                  ia::result:
                    $ref: '#/components/schemas/accounts-receivable-billback-template'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get a bill back template:
                  value:
                    ia::result:
                      key: '26'
                      id: BBT-FR2US
                      description: BBT France to US
                      status: active
                      enableInterEntityPostings: true
                      entity:
                        key: null
                        id: null
                        name: null
                      lines:
                        - key: '1'
                          id: '1'
                          billbackTemplate:
                            id: BBT-FR2US
                            key: '26'
                            href: /objects/accounts-receivable/billback-template/26
                          lineNumber: '1'
                          invoiceGLAccount:
                            key: '194'
                            id: '4000'
                            name: Sales
                            href: /objects/general-ledger/account/194
                          billGLAccount:
                            key: '207'
                            id: '5001'
                            name: Construction
                            href: /objects/general-ledger/account/207
                          department:
                            key: '9'
                            id: '11'
                            name: Accounting
                            href: /objects/company-config/department/9
                          memo: line 1
                          href: '/objects/accounts-receivable/billback-template-line/1'
                      href: /objects/accounts-receivable/billback-template/26
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    patch:
      summary: Update a bill back template
      description: >-
        Updates an existing bill back template by setting field values. Any fields not provided remain unchanged.
      tags:
        - Bill back templates
      operationId: update-accounts-receivable-billback-template-key
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/accounts-receivable-billback-template'
                - type: object
                  properties:
                    id:
                      readOnly: true
            examples:
              Update a bill back template:
                value:
                  status: active
                  lines:
                    - invoiceGLAccount:
                        key: '194'
                      billGLAccount:
                        key: '109'
                      department:
                        key: '9'
                      memo: line 1-1
                    - invoiceGLAccount:
                        key: '194'
                      billGLAccount:
                        key: '109'
                      department:
                        key: '9'
                      memo: line 1-2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Updated billback-template
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to updated bill back template:
                  value:
                    ia::result:
                      key: '5'
                      id: BBT-AU2IN
                      href: /objects/accounts-receivable/billback-template/5
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    delete:
      summary: Delete a bill back template
      description: Deletes a bill back template.
      tags:
        - Bill back templates
      operationId: delete-accounts-receivable-billback-template-key
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/accounts-receivable/billback-template-line:
    get:
      summary: List bill back template lines
      description: >-
        Returns a collection with a key, ID, and link for each bill back template line. This operation is mostly for use in testing; use the [query service](/openapi/common/core.query/tag/Query) to find objects that meet certain criteria and to specify properties that are returned.
      tags:
        - Bill back template lines
      operationId: list-accounts-receivable-billback-template-line
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of billback-template-line objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List bill back template lines:
                  value:
                    ia::result:
                      - key: '1'
                        id: '1'
                        href: /objects/accounts-receivable/billback-template-line/1
                      - key: '8'
                        id: '8'
                        href: /objects/accounts-receivable/billback-template-line/8
                      - key: '9'
                        id: '9'
                        href: /objects/accounts-receivable/billback-template-line/9
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/accounts-receivable/billback-template-line/{key}:
    parameters:
      - name: key
        description: System-assigned unique key for the bill back template line.
        in: path
        example: '9'
        required: true
        schema:
          type: string
    get:
      summary: Get a bill back template line
      description: Returns detailed information for a specified bill back template line.
      tags:
        - Bill back template lines
      operationId: get-accounts-receivable-billback-template-line-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the billback-template-line
                properties:
                  ia::result:
                    $ref: '#/components/schemas/accounts-receivable-billback-template-line'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get a bill back template line:
                  value:
                    ia::result:
                      key: '5'
                      id: '5'
                      billbackTemplate:
                        id: '1'
                        key: '1'
                        href: /objects/accounts-receivable/billback-template/1
                      lineNumber: '0'
                      invoiceGLAccount:
                        key: '194'
                        id: '4000'
                        name: Sales
                        href: /objects/general-ledger/account/194
                      billGLAccount:
                        key: '207'
                        id: '5001'
                        name: Construction
                        href: /objects/general-ledger/account/207
                      department:
                        key: '9'
                        id: '11'
                        name: Accounting
                        href: /objects/company-config/department/9
                      memo: line 1
                      href: /objects/accounts-receivable/billback-template-line/5
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/accounts-receivable/customer:
    get:
      summary: List customers
      description: >-
        Returns a collection with a key, ID, and link for each customer. This operation is mostly for use in testing; use the [query service](/openapi/common/core.query/tag/Query) to find objects that meet certain criteria and to specify properties that are returned.
      tags:
        - Customers
      operationId: list-accounts-receivable-customer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of customer objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List customers:
                  value:
                    ia::result:
                      - key: '68'
                        id: CUST-100
                        href: /objects/accounts-receivable/customer/68
                      - key: '69'
                        id: CUST-200
                        href: /objects/accounts-receivable/customer/69
                      - key: '73'
                        id: CUST-300
                        href: /objects/accounts-receivable/customer/73
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create a customer
      description: Creates a new customer.
      tags:
        - Customers
      operationId: create-accounts-receivable-customer
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/accounts-receivable-customer'
                - $ref: '#/components/schemas/accounts-receivable-customerRequiredProperties'
            examples:
              Create a customer:
                value:
                  id: CUST-002
                  name: Starluck
                  taxId: 12-3456789
                  creditLimit: 50000
                  status: active
      responses:
        '201':
          description: Created
          content:
            application/json:
              examples:
                Create a customer:
                  value:
                    ia::result:
                      key: '32'
                      id: CUST-200
                      href: /objects/accounts-receivable/customer/32
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
              schema:
                type: object
                title: New customer
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/accounts-receivable/customer/{key}:
    parameters:
      - schema:
          type: string
          example: '81'
        name: key
        in: path
        required: true
        description: System-assigned key for the customer.
        example: '99'
    get:
      summary: Get a customer
      description: Returns detailed information for a specified customer.
      tags:
        - Customers
      operationId: get-accounts-receivable-customer-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the customer
                properties:
                  ia::result:
                    $ref: '#/components/schemas/accounts-receivable-customer'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get a customer:
                  value:
                    ia::result:
                      key: '1'
                      id: PAMats
                      name: Power Aerospace Materials
                      parent:
                        key: '2055'
                        id: '12'
                        name: '12'
                        href: /objects/accounts-receivable/customer/2055
                      contacts:
                        default:
                          mailingAddress:
                            addressLine1: 1120 Harbor Bay Pkwy
                            addressLine2: St John's street
                            addressLine3: Double cross road
                            city: Sacramento
                            country: United States
                            postCode: 95119-1208
                            state: CA
                          tax:
                            group:
                              key: '7'
                              id: Auto Contact Tax
                              href: /objects/tax/contact-tax-group/7
                            solution:
                              key: '7'
                              id: Australia - GST
                              href: /objects/tax/tax-solution/7
                            isTaxable: true
                          URL1: www.google.com
                          URL2: www.google.com
                          companyName: Logic Solutions
                          email1: user@domain.com
                          email2: user2@domain.com
                          fax: (925) 123-4567
                          firstName: Sandy
                          id: Customer 1(CCust1)
                          lastName: Tieber
                          middleName: E
                          mobile: (925) 123-4567
                          pager: (925) 123-4567
                          phone1: (408) 395-2539
                          phone2: (408) 395-2540
                          printAs: Mr. Sandy Tieber
                          key: '394'
                          showInContactList: true
                          href: /objects/company-config/contact/394
                        primary:
                          id: Aron
                          key: '106'
                          href: /objects/company-config/contact/106
                        shipTo:
                          id: Alex
                          key: '107'
                          href: /objects/company-config/contact/107
                        billTo:
                          id: Ben
                          key: '108'
                          href: /objects/company-config/contact/108
                      term:
                        id: 15DaysExtToEOM
                        key: '26'
                        href: /objects/accounts-receivable/term/26
                      salesRepresentative:
                        id: EM M
                        name: Aaron
                        key: '89'
                        href: /objects/company-config/employee/89
                      resaleNumber: 123456789
                      taxId: '123456803'
                      creditLimit: 20000
                      totalDue: '99999.99'
                      notes: Sample Notes
                      accountLabel:
                        id: Pledges
                        key: '9'
                      defaultRevenueGLAccount:
                        id: '2080.06'
                        name: Germany(France) - Inter Entity Payable
                        key: '136'
                        href: /objects/general-ledger/account/136
                      lastInvoiceCreatedDate: '2021-10-12'
                      lastStatementGeneratedDate: '2023-02-28'
                      deliveryOptions: print
                      territory:
                        id: '23456'
                        name: North East
                        key: '23'
                        href: /objects/accounts-receivable/territory/23
                      shippingMethod:
                        id: Fedex
                        key: '3'
                        href: /objects/accounts-receivable/shipping-method/3
                      customerType:
                        id: DOCS
                        key: '13'
                        href: /objects/accounts-receivable/customer-type/13
                      accountGroup:
                        key: '10'
                        id: Auto CGL Group
                        href: /objects/accounts-receivable/customer-account-group/10
                      priceSchedule:
                        id: '101'
                        key: '101'
                        href: /objects/purchasing/price-schedule/101
                      discountPercent: '10'
                      priceList:
                        id: Base Price List
                        key: '1'
                        href: /objects/order-entry/price-list/1
                      currency: USD
                      status: active
                      isOneTimeUse: false
                      customerMessage:
                        key: '10'
                        id: welcome message
                        message: Welcome to Power Aerospace Materials
                        href: /objects/accounts-receivable/customer-message/10
                      isOnHold: false
                      overridePriceList: customer
                      enableOnlineCardPayment: true
                      enableOnlineACHPayment: true
                      audit:
                        modifiedDateTime: '2023-12-14T11:31:06Z'
                        createdDateTime: '2018-07-28T19:22:31Z'
                        createdBy: '1'
                        modifiedBy: '1'
                      customerRestriction: restricted
                      overrideOffsetGLAccount:
                        id: '1120'
                        name: Pledges Receivable
                      emailOptIn: false
                      contactList:
                        - id: '150'
                          key: '150'
                          categoryName: ship
                          audit:
                            modifiedDateTime: '2023-12-14T11:31:06Z'
                            createdDateTime: '2022-06-07T12:37:37Z'
                            createdBy: '1'
                            modifiedBy: '1'
                          customer:
                            key: '1'
                            id: '1'
                            href: /objects/accounts-receivable/customer/1
                          contact:
                            key: '106'
                            id: Aron
                            href: /objects/company-config/contact/106
                          href: /objects/accounts-receivable/customer-contact/150
                      customerEmailTemplates:
                        - id: '8'
                          key: '8'
                          customer:
                            key: '1'
                            id: '1'
                            href: /objects/accounts-receivable/customer/1
                          txnDefinitionName: Sales Quote
                          emailTemplate:
                            id: '4'
                            key: '4'
                            name: OETemplate
                            href: /objects/company-config/email-template/4
                          templateType: soDocument
                          href: '/objects/accounts-receivable/customer-email-template/8'
                      restrictedDepartments:
                        - key: '1'
                          id: Eng
                          objectType: CUSTOMER
                          department:
                            key: '13'
                            id: '3'
                            href: /objects/company-config/department/3
                          departmentGroup:
                            key: null
                            id: null
                          href: '/objects/accounts-receivable/customer-restricted-department/1'
                      restrictedLocations:
                        - key: '142'
                          id: Nov7-02
                          objectType: CUSTOMER
                          location:
                            key: '3'
                            id: '3'
                            href: /objects/company-config/location/3
                          locationGroup:
                            key: null
                            id: null
                          href: '/objects/accounts-receivable/customer-restricted-location/142'
                      href: /objects/accounts-receivable/customer/1
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
                Get a customer with country set to France for the primary contact:
                  value:
                    ia::result:
                      key: '1'
                      id: '1'
                      name: Power Aerospace Materials France
                      parent:
                        key: null
                        id: null
                        name: null
                      contacts:
                        default:
                          electronicInvoiceDetails:
                            legalCategory: 24 Fiduciary
                            mainActivity: >-
                              10.3 Transformation and conservation of fruits and vegetables
                            registeredCapital: 37 000
                            typeOfCompany: 03 Intermediate sized enterprises
                            valueAddedTaxRegime: Monthly
                          mailingAddress:
                            addressLine1: 1120 Harbor Bay Pkwy
                            addressLine2: St John's street
                            addressLine3: Double cross road
                            city: Paris
                            country: France
                            postCode: 95119-1208
                            state: null
                          tax:
                            group:
                              key: '7'
                              id: Auto Contact Tax
                              href: /objects/tax/contact-tax-group/7
                            solution:
                              key: null
                              id: null
                              href: null
                            isTaxable: true
                          URL1: www.google.com
                          URL2: www.google.com
                          companyName: Logic Solutions
                          email1: user@domain.com
                          email2: user2@domain.com
                          fax: (925) 123-4567
                          firstName: Sandy
                          id: Customer 1(CCust1)
                          internationalTaxId: '123'
                          lastName: Tieber
                          middleName: E
                          mobile: (925) 123-4567
                          pager: (925) 123-4567
                          phone1: (408) 395-2539
                          phone2: (408) 395-2540
                          printAs: Mr. Sandy Tieber
                          key: '394'
                          showInContactList: true
                          href: /objects/company-config/contact/394
                        primary:
                          id: Aron
                          key: '106'
                          href: /objects/company-config/contact/106
                        shipTo:
                          id: Alex
                          key: '107'
                          href: /objects/company-config/contact/107
                        billTo:
                          id: Ben
                          key: '108'
                          href: /objects/company-config/contact/108
                      term:
                        id: 15DaysExtToEOM
                        key: '26'
                        href: /objects/accounts-receivable/term/26
                      salesRepresentative:
                        id: EM M
                        name: Aaron
                        key: '89'
                        href: /objects/company-config/employee/89
                      resaleNumber: 123456789
                      taxId: '123456803'
                      creditLimit: 20000
                      totalDue: '99999.99'
                      notes: Sample Notes
                      accountLabel:
                        id: Pledges
                        key: '9'
                      defaultRevenueGLAccount:
                        id: '2080.06'
                        name: Germany(France) - Inter Entity Payable
                        key: '136'
                        href: /objects/general-ledger/account/136
                      lastInvoiceCreatedDate: '2021-10-12'
                      lastStatementGeneratedDate: '2023-02-28'
                      deliveryOptions: print
                      territory:
                        id: '23456'
                        name: North East
                        key: '23'
                        href: /objects/accounts-receivable/territory/23
                      shippingMethod:
                        id: Fedex
                        key: '3'
                        href: /objects/accounts-receivable/shipping-method/3
                      customerType:
                        id: DOCS
                        key: '13'
                        href: /objects/accounts-receivable/customer-type/13
                      accountGroup:
                        key: '10'
                        id: Auto CGL Group
                        href: /objects/accounts-receivable/customer-account-group/10
                      priceSchedule:
                        id: '101'
                        key: '101'
                        href: /objects/purchasing/price-schedule/101
                      discountPercent: '10'
                      priceList:
                        id: Base Price List
                        key: '1'
                        href: /objects/order-entry/price-list/1
                      currency: USD
                      status: active
                      isOneTimeUse: false
                      customerMessage:
                        key: '10'
                        id: welcome message
                        message: Welcome to Power Aerospace Materials
                        href: /objects/accounts-receivable/customer-message/10
                      isOnHold: false
                      overridePriceList: Customer
                      enableOnlineCardPayment: true
                      enableOnlineACHPayment: true
                      audit:
                        modifiedDateTime: '2023-12-14T11:31:06Z'
                        createdDateTime: '2018-07-28T19:22:31Z'
                        createdBy: '1'
                        modifiedBy: '1'
                      restrictions:
                        restrictionType: restricted
                        locations:
                          - North America--North America
                          - GM--Gulf of Mexico
                          - BG--Bangalore
                          - NY--New York
                        departments:
                          - 1st Level Depts--Level 1 Departments
                          - 2nd Level Depts--Level 2 Departments
                      overrideOffsetGLAccount:
                        id: '1120'
                        name: Pledges Receivable
                      emailOptIn: false
                      contactList:
                        - id: '150'
                          key: '150'
[...]
