openapi: 3.0.3
info:
  title: Company and Configuration
  description: >
    This section deals with providing information about a company or setting configurations.  These objects are mainly for system administrators, but end users do interact with some of these.

  version: '1'
servers:
  - url: https://api.intacct.com/ia/api/v1
tags:
  - name: Affiliate entity groups
    description: >-
      A collection of associated entities that form a reporting group. For example, entities E200 and E500 may be associated with the parent entity E100.
    x-displayName: Affiliate entity groups
  - name: Affiliate entities
    description: >
      An affiliate entity is a separate legal entity that is related to another entity, often due to common ownership or control. In Sage Intacct, affiliate entities are a standard dimension based on the list of entities in your Sage Intacct company and used to simplify inter-entity transaction reporting and consolidation reporting. You can use an affiliate entity to indicate a related entity in a transaction. Adding affiliate entities to transactions enables more detailed and rich reporting.


      Because affiliate entities are based on the entities in your company, the affiliate entity dimension is read-only.

    x-displayName: Affiliate entities
  - name: Attachments
    description: >-
      An attachment object contains an array of one more files that are stored in Sage Intacct. You can attach multiple files of any type to a transaction using an attachment, such as scanned images, spreadsheets, and word-processor documents. For example, you might add ten scanned images to a single attachment for a bill. You can also add attachments to some other objects, such as customers, vendors, and employees.


      It's important to note that each transaction or object can only have one attachment assigned to it. After you add an attachment, you can add or delete individual files to and from the attachment, ensuring your supporting documents are always up-to-date.


      All attachments are stored in attachment [folders](/openapi/co/company-config.folder/tag/Attachment-folders). The folder to hold an attachment must exist before you create the attachment. You can also move an attachment to a different folder after it's created.
    x-displayName: Attachments
  - name: Classes
    description: >-
      [Class](https://www.intacct.com/ia/docs/en_US/help_action/Reporting/Setup/Dimensions/Managing_classes/class-information.htm) is a flexible [dimension](https://www.intacct.com/ia/docs/en_US/help_action/Reporting/Setup/Dimensions/dimensions-overview-ns.htm) that can be defined in a company and used to track just about anything. You can rename the class dimension and add custom fields if needed, and then select a class and provide values for the fields in applicable transactions. You can use the data to create custom reports that provide important business insights.


      Note that renaming the class dimension in the UI does not change the name of this object in the API. You still use `class` in API requests.
    x-displayName: Classes
  - name: Contacts
    description: >
      Contacts serve as a common, shared address book that's used across a company by many people for a variety of purposes. Contacts hold all the information needed to contact an individual or business, including name, email address, phone number, mailing address, and more.


      Contacts are almost always used with other Sage Intacct objects, such as vendors, customers, or locations. For example, you specify a contact in Order Entry and Purchasing transactions to set a ship-to, bill-to, pay-to, or return-to addresses, and to determine tax on transactions.

    x-displayName: Contacts
  - name: Department group members
    description: Department group member represents a department in a department group.
    x-displayName: Department group members
  - name: Department groups
    description: >-
      A department group is a specified set of departments, or a set of departments that meet certain criteria. You can use groups to filter or display information in multiple ways, for instance by showing data from only certain departments.
    x-displayName: Department groups
  - name: Departments
    description: >-
      Department is an optional [dimension](https://www.intacct.com/ia/docs/en_US/help_action/Reporting/Setup/Dimensions/dimensions-overview-ns.htm) that can be used for tagging, filtering, and categorizing data in many areas of Sage Intacct.


      The list of departments is shared by all entities in a company. Users can be restricted to only work with and see specific departments, which might affect what data they can see in reports, transactions, and other data records.


      You can create a hierarchy of departments to reflect how departments are organized within a company. To set up a hierarchy, create the parent departments first and then specify a parent department when adding child departments.
    x-displayName: Departments
  - name: Document sequence rollovers
    description: >
      The document sequence rollover configuration holds the next number or alpha values used to generate sequences for each fiscal year. When rollover is enabled for a document sequence, a restart of the document sequence is initiated for each fiscal year.


      If the configuration for a fiscal year is missing, it is automatically generated by the system when the first sequence is generated. When the system generates a configuration, the next number or alpha values from the base start values are used.

    x-displayName: Document sequence rollovers
  - name: Document sequences
    description: >-
      Use document sequencing to generate new IDs automatically for common transactions and records, such as new customers, vendors, invoices, and more. For example, you can create a document sequence for invoices. This new sequence automatically creates a new ID, such as 'INV-0100' and increments the number each time a new invoice is created.


      Note: Document sequences are called "accounting sequences" in the General Ledger.
    x-displayName: Document sequences
  - name: Earning types
    description: >-
      Earning types are a key component in configuring the system to post project labor costs to one or more General Ledger journals. After creating earning types, they must be assigned to employees.
    x-displayName: Earning types
  - name: Email templates
    description: >-
      Use email templates to organize email content and add style to make emails stand out to customers and vendors. You can create a variety of email templates to use for different types of transactions, different vendors, or different customers. You can add merge fields to populate emails with dynamic data from Sage Intacct, such as the vendor name, contact information, and so on.
    x-displayName: Email templates
  - name: Employee bank file setups
    description: >-
      An employee bank file setup contains the information needed to send electronic payments to a specified employee using bank files. Bank files are standard files used by banks to make multiple payments. Bank files are generated in Sage Intacct and then uploaded to the bank's online banking portal and the bank processes the payments with the bank file.
    x-displayName: Employee bank file setups
  - name: Employee rates
    description: >-
      The employee rate object provides information about compensation for a specified employee and date range. The rate can be either hourly or annual.
    x-displayName: Employee rates
  - name: Employee types
    description: >
      Defining and assigning types to different employees allows you to report on and assess the value being delivered to a project, location, or other dimension on a per-employee type basis. Default employee types include:


      - Contractor

      - Full-time

      - Part-time

    x-displayName: Employee types
  - name: Employees
    description: >-
      An employee object represents someone who executes work for a company and is associated with financial transactions such as timesheet entries or expenses. If the employee is also a user in Sage Intacct (which is required if they will be entering time or expenses), the employee and user must be associated with the same Sage Intacct contact.
    x-displayName: Employees
  - name: Entities
    description: >-
      In a multi-entity shared company, entities represent a separate tax identification or a separately secured, fully balancing set of books. Entities typically represent divisions, franchises, affiliates, associations, locations, chapters, self-balancing funds or subsidiaries, with a shared chart of accounts.
    x-displayName: Entities
  - name: Exchange rate lines
    description: Exchange rate line items represent entries in an exchange rate object.
    x-displayName: Exchange rate lines
  - name: Exchange rate types
    description: >-
      An exchange rate type enables an organization to process foreign currency transactions, such as foreign currency invoices and bills, using exchange rates specific to the business requirements. You can use a custom exchange rate type for global consolidation, or to override the standard Intacct daily rate type. See [Exchange rate types](https://www.intacct.com/ia/docs/en_US/help_action/Company/Currencies_and_exchange_rates/Exchange_rate_types/exchange-rate-types.htm) for more information.
    x-displayName: Exchange rate types
  - name: Exchange rates
    description: >-
      A custom exchange rate to convert one currency to another, if a company does not want to use the Intacct Daily Rate. An exchange rate contains an array of lines that each contain an effective start date, rate, and reciprocal rate to be used for transactions.
    x-displayName: Exchange rates
  - name: Attachment folders
    description: >-
      Folders are used to store [attachments](/openapi/co/company-config.attachment/tag/Attachments) for easy grouping. For example, you can create an attachment folder for a project and store every supporting document for the project in that folder.


      Attachment folders can be nested. The folder hierarchy can be as broad or deep as needed.
    x-displayName: Attachment folders
  - name: Get next value
    x-displayName: Get next value
  - name: Dimensions
    description: >-
      Dimensions are a classification system used to organize, sort, and report on company information in meaningful ways. You can think of each dimension as a category with a set of values that you can apply to transactions and entries. Every transaction can be tagged with multiple dimension values to identify and report on it. For example, you can tag transactions with pre-defined locations, and then generate reports to show sales by each location.
    x-displayName: Dimensions
  - name: Location group members
    description: Location group member represents a location in a location group.
    x-displayName: Location group members
  - name: Location groups
    description: >-
      A location group is a specified set of locations, or a set of locations that meet certain criteria. You can use groups to filter or display information in multiple ways, for instance by showing data from only certain locations.
    x-displayName: Location groups
  - name: Locations
    description: >
      Location is a [dimension](https://www.intacct.com/ia/docs/en_US/help_action/Reporting/Setup/Dimensions/dimensions-overview-ns.htm) that is used to represent the geographic locations of offices or facilities, or to represent divisions in a company. Once you have defined some locations, you can set locations on transactions, and that information can be used to provide new insights in reports.


      You can create a hierarchy of locations to reflect how locations are organized within your company.

    x-displayName: Locations
  - name: Permissions
    description: "Permissions enable users to perform a particular function or task within a specific area of the product. For example, a user might have permission within the General Ledger to view financial reports but not to create, edit, or delete them. \n\nA permission specifies a module, such as `accountsPayable`, a specific permission name, such as `vendors`, and the allowed access rights for that permission, such as `list`, `view`, `add`, and `edit`.\n\nYou use [role-permission-assignment objects](/openapi/co/company-config.role-permission-assignment/tag/Role-permission-assignments) to assign permissions to roles.\n"
    x-displayName: Permissions
  - name: Role permission assignments
    description: >
      A role permission assignment shows a single permission and set of access rights for a role. It is an owned object of a [role object](/openapi/co/company-config.role/tag/Roles). You create, update, and delete role permission assignment objects through operations on the owning role.


      Roles are used in companies that have role-based permissions. Companies with user-based permissions do not use roles.

    x-displayName: Role permission assignments
  - name: Role user group maps
    description: "A role user group map associates a role with a user group. A user group can have more than one assigned role. \n\nRoles are used in companies that have role-based permissions. Companies with user-based permissions do not use roles.\n"
    x-displayName: Role user group maps
  - name: Role user maps
    description: >
      A role user map associates a role with a user. It is an owned object of a [role object](/openapi/co/company-config.role/tag/Roles). You create, update, and delete role user maps through operations on the owning role.


      Roles are used in companies that have role-based permissions. Companies with user-based permissions do not use roles.

    x-displayName: Role user maps
  - name: Roles
    description: >
      Roles are used in companies that have role-based permissions. Companies with user-based permissions do not use roles.


      A role is basically a group of permissions. Roles save time and make it easier to assign the same set of permissions to multiple users and to ensure that permissions are consistent across users. Permissions to perform certain tasks are assigned to specific roles, and roles can then be assigned to users or user groups. You use [role-permission-assignment objects](/openapi/co/company-config.role-permission-assignment/tag/Role-permission-assignments) to assign permissions to roles.


      You can define roles for various job functions. For example, you can assign all Accounts Receivable clerks the same role instead of assigning permissions to each of them individually. Or when an employee leaves the company, you can assign their role to their replacement. This ensures that the new employee has the same permissions.


      You can assign more than one role to a user. The user will then have all permissions for each role. For example, you assign Role A and Role B to a user. Role A has permissions that Role B does not. The user has all permissions in Role A plus the ones in Role B. A user can be individually assigned roles and also be part of a group that has a role. The user gets the total permissions from all assigned roles.


      If a company uses role-based permissions, you must assign each user to a role or to a user group that's assigned to a role. If a user does not have an associated role, they will not be able to access applications and features.

    x-displayName: Roles
  - name: User groups
    description: >-
      User groups help you manage the permissions and access of users that have the same roles or responsibilities in a company. After you add a user to a user group, they automatically inherit all permissions and access defined by the roles assigned to that user group. User the user-group-member object to add and delete users from user groups.
    x-displayName: User groups
  - name: Users
    description: >-
      Users are individuals who have access to some part of Sage Intacct. Most users are employees, but users might also be outside the company, such as accountants, attorneys, bankers, vendors, customers, or auditors.


      Any person that wants to log in through the UI or API must have a unique user record.
    x-displayName: Users
paths:
  /objects/company-config/affiliate-entity-group:
    get:
      summary: List affiliate entity groups
      description: >-
        Returns a collection with a key, ID, and link for each affiliate entity group. This operation is mostly for use in testing; use query to find objects that meet certain criteria and to specify properties that are returned.
      tags:
        - Affiliate entity groups
      operationId: list-company-config-affiliate-entity-group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of affiliate entity group objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List affiliate entity groups:
                  value:
                    ia::result:
                      - key: '3'
                        id: u
                        href: /objects/company-config/affiliate-entity-group/3
                      - key: '1'
                        id: Aff_Grp_USA
                        href: /objects/company-config/affiliate-entity-group/1
                      - key: '2'
                        id: Aff_Group_Other
                        href: /objects/company-config/affiliate-entity-group/2
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create an affiliate entity group
      description: Creates a new affiliate entity group.
      tags:
        - Affiliate entity groups
      operationId: create-company-config-affiliate-entity-group
      requestBody:
        description: Creates a new affiliate entity group.
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/company-config-affiliate-entity-group'
                - $ref: '#/components/schemas/company-config-affiliate-entity-groupRequiredProperties'
            examples:
              Create an affiliate entity group:
                value:
                  id: Aff_3M
                  name: Aff_Grp_specific
                  description: affiliate group with 3 members
                  groupType: specific
                  groupMembers:
                    - key: '2'
                    - key: '1'
                    - id: GM
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                title: New affiliate-entity-group
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to new affiliate entity group:
                  value:
                    ia::result:
                      key: '9'
                      id: Aff_3M
                      href: /objects/company-config/affiliate-entity-group/9
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/affiliate-entity-group/{key}:
    parameters:
      - name: key
        description: System-assigned unique key for the affiliate entity group.
        in: path
        required: true
        example: '9'
        schema:
          type: string
    get:
      summary: Get an affiliate entity group
      description: Returns detailed information for a specified affiliate entity group.
      tags:
        - Affiliate entity groups
      operationId: get-company-config-affiliate-entity-group-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the affiliate entity group
                properties:
                  ia::result:
                    $ref: '#/components/schemas/company-config-affiliate-entity-group'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an affiliate entity group:
                  value:
                    ia::result:
                      key: '9'
                      id: Aff_3M
                      name: Aff_Grp_specific
                      description: affiliate group with 3 members
                      groupType: specific
                      audit:
                        createdDateTime: '2025-02-13T19:12:14Z'
                        modifiedDateTime: '2025-02-13T19:12:14Z'
                        createdByUser:
                          key: '1'
                          id: Admin
                          href: /objects/company-config/user/1
                        createdBy: '1'
                        modifiedByUser:
                          key: '1'
                          id: Admin
                          href: /objects/company-config/user/1
                        modifiedBy: '1'
                      groupMembers:
                        - key: '2'
                          id: E200
                          name: India
                          href: /objects/company-config/affiliate-entity/2
                        - key: '1'
                          id: E100
                          name: United States of America
                          href: /objects/company-config/affiliate-entity/1
                        - key: '11'
                          id: E111
                          name: Gulf of Mexico
                          href: /objects/company-config/affiliate-entity/11
                      isDimensionStructure: true
                      memberFilter:
                        object: company-config/affiliate-entity
                        filterExpression: and
                        orderBy:
                          - name: asc
                      href: /objects/company-config/affiliate-entity-group/9
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    patch:
      summary: Update an affiliate entity group
      description: >-
        Updates an existing affiliate entity group by setting field values. Any fields not provided remain unchanged.
      tags:
        - Affiliate entity groups
      operationId: update-company-config-affiliate-entity-group-key
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/company-config-affiliate-entity-group'
                - type: object
                  properties:
                    id:
                      readOnly: true
            examples:
              Update an affiliate entity group:
                value:
                  name: Aff_Grp_specific
                  description: Affiliate entity group udpated to member 1 only
                  groupType: specific
                  groupMembers:
                    - key: '1'
                      id: '1'
        description: Updates an affiliate entity group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Updated affiliate entity group
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to updated affiliate entity group:
                  value:
                    ia::result:
                      key: '9'
                      id: Aff_3M
                      href: /objects/company-config/affiliate-entity-group/9
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    delete:
      summary: Delete an affiliate entity group
      description: Deletes an affiliate entity group.
      tags:
        - Affiliate entity groups
      operationId: delete-company-config-affiliate-entity-group-key
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/affiliate-entity:
    get:
      summary: List affiliate entities
      description: >-
        Returns a collection with a key, ID, and link for each affiliate entity. This operation is mostly for use in testing; use query to find objects that meet certain criteria and to specify properties that are returned.
      tags:
        - Affiliate entities
      operationId: list-company-config-affiliate-entity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of affiliate entity objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List affiliate entities:
                  value:
                    ia::result:
                      - key: '1'
                        id: '1'
                        href: /objects/company-config/affiliate-entity/1
                      - key: '2'
                        id: '2'
                        href: /objects/company-config/affiliate-entity/2
                      - key: '3'
                        id: '3'
                        href: /objects/company-config/affiliate-entity/3
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/affiliate-entity/{key}:
    parameters:
      - name: key
        description: System-assigned unique key for the affiliate entity.
        in: path
        required: true
        example: '25'
        schema:
          type: string
    get:
      summary: Get an affiliate entity
      description: Returns detailed information for a specified affiliate entity.
      tags:
        - Affiliate entities
      operationId: get-company-config-affiliate-entity-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the affiliate entity
                properties:
                  ia::result:
                    $ref: '#/components/schemas/company-config-affiliate-entity'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an affiliate entity:
                  value:
                    ia::result:
                      key: '1'
                      id: '1'
                      name: Mariposa LLC
                      status: active
                      audit:
                        createdDateTime: '2016-06-28T00:00:00Z'
                        modifiedDateTime: '2024-12-20T00:00:00Z'
                        createdByUser:
                          key: '1'
                          href: /objects/company-config/user/1
                        createdBy: '1'
                        modifiedByUser:
                          key: '158'
                          href: /objects/company-config/user/158
                        modifiedBy: '158'
                      href: /objects/company-config/affiliate-entity/1
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/attachment:
    get:
      summary: List attachments
      description: >
        Returns a collection with a key, ID, and link for each attachment. This operation is mostly for use in testing; use the query service to find attachments that meet certain criteria and specify the properties that are returned.

      tags:
        - Attachments
      operationId: list-company-config-attachment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of attachment objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List attachments:
                  value:
                    ia::result:
                      - key: '8'
                        id: PROJ-159
                        href: /objects/company-config/attachment/8
                      - key: '1'
                        id: INVOICES
                        href: /objects/company-config/attachment/1
                      - key: '2'
                        id: 2024 Taxes
                        href: /objects/company-config/attachment/2
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create an attachment
      description: >-
        Creates a new attachment in a specified folder. The folder must exist before you create the attachment. You can add files when you create an attachment, or use a PATCH request to add files later.
      tags:
        - Attachments
      operationId: create-company-config-attachment
      requestBody:
        description: Attachment to create
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/company-config-attachment'
                - $ref: '#/components/schemas/company-config-attachmentRequiredProperties'
            examples:
              Create an empty attachment:
                value:
                  id: 2024 Tax
                  name: 2024 Tax Forms
                  folder:
                    key: '27'
              Create an attachment that contains a file:
                value:
                  id: attach-02
                  name: Short text file
                  folder:
                    key: '1'
                  files:
                    - name: short file.txt
                      data: aGVsbG8gd29ybGQhIHRoaXMgaXMgYmFzZTY0IGVuY29kZWQgZGF0YQ==
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                title: Reference to new attachment
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to new attachment:
                  value:
                    ia::result:
                      key: '17'
                      id: 2022 Tax
                      href: /objects/company-config/attachment/17
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/attachment/{key}:
    parameters:
      - name: key
        description: System-assigned key for the attachment.
        in: path
        required: true
        example: '43'
        schema:
          type: string
    get:
      summary: Get an attachment
      description: >-
        Returns detailed information for a specified attachment, including Base64-encoded versions of all files in the attachment.
      tags:
        - Attachments
      operationId: get-company-config-attachment-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the attachment
                properties:
                  ia::result:
                    $ref: '#/components/schemas/company-config-attachment'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an attachment:
                  value:
                    ia::result:
                      key: '17'
                      id: INV-V1
                      name: Vendor 1 Invoices
                      folder:
                        id: Invoices
                        key: '1'
                        href: /objects/company-config/folder/1
                      description: Invoices for Vendor 1
                      audit:
                        createdBy: matthew.mikawber
                        modifiedBy: matthew.mikawber
                        modifiedDate: '2023-05-25'
                        createdDate: '2023-05-25'
                      files:
                        - id: '29'
                          key: '29'
                          attachment:
                            key: '17'
                          data: >-
                            aGVsbG8gd29ybGQhIHRoaXMgaXMgYmFzZTY0IGVuY29kZWQgZGF0YQ==
                          name: short file.txt
                          size: 40
                      href: /objects/company-config/attachment/17
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    patch:
      summary: Update an attachment
      description: >-
        Updates an existing attachment by setting field values. Any fields not provided remain unchanged. Use this operation to add, update, and delete files in attachments.
      tags:
        - Attachments
      operationId: update-company-config-attachment-key
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/company-config-attachment'
                - type: object
                  properties:
                    id:
                      readOnly: true
            examples:
              Add a file to an attachment:
                value:
                  files:
                    - name: short file 2.txt
                      data: aGVsbG8gd29ybGQhIHRoaXMgaXMgYmFzZTY0IGVuY29kZWQgZGF0YQ==
              Delete a file from an attachment:
                value:
                  files:
                    - key: '29'
                      ia::operation: delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Reference to updated attachment
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to updated attachment:
                  value:
                    ia::result:
                      key: '17'
                      id: attach-02
                      href: /objects/company-config/attachment/17
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    delete:
      summary: Delete an attachment
      description: >-
        Deletes an attachment and all files that it contains. You must first remove the attachment from any objects or transactions.
      tags:
        - Attachments
      operationId: delete-company-config-attachment-key
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/class:
    get:
      summary: List classes
      description: >
        Returns up to 100 object references from the collection with a key, ID, and link for each object. This operation is mostly for use in testing; use the query service to find objects that meet certain criteria and specify the properties that are returned.

      tags:
        - Classes
      operationId: list-company-config-class
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of class objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                list classes:
                  value:
                    ia::result:
                      - key: '1'
                        id: Class_1
                        href: /objects/company-config/class/1
                      - key: '2'
                        id: Class_2
                        href: /objects/company-config/class/2
                    ia::meta:
                      totalCount: 2
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create a class
      description: >-
        Creates a new class. You can think of this as adding a new value to the dimension that you can use to tag transactions for reporting.
      tags:
        - Classes
      operationId: create-company-config-class
      requestBody:
        description: Class object to create
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/company-config-class'
                - $ref: '#/components/schemas/company-config-classRequiredProperties'
            examples:
              Create a single class:
                value:
                  id: SW
                  name: Software
                  description: All software titles
                  status: active
              Create a child class:
                value:
                  id: SW-Office
                  name: Office Software
                  description: Office productivity software
                  status: active
                  parent:
                    key: '1'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                title: New class
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to new class:
                  value:
                    ia::result:
                      key: '1'
                      id: SW
                      href: /objects/company-config/class/1
                    ia::meta:
                      totalCount: 1
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/class/{key}:
    parameters:
      - name: key
        description: System-assigned key for the class.
        in: path
        required: true
        example: '43'
        schema:
          type: string
    get:
      summary: Get a class
      description: Returns detailed information for a specified class.
      tags:
        - Classes
      operationId: get-company-config-class-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the class
                properties:
                  ia::result:
                    $ref: '#/components/schemas/company-config-class'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get a class:
                  value:
                    ia::result:
                      key: '2'
                      id: SS
                      name: Software & Services
                      description: Software & Services
                      status: active
                      parent:
                        key: '1'
                        id: '3'
                        name: Heath Care
                        href: /objects/company-config/class/1
                      audit:
                        createdDateTime: '2024-06-28T18:11:36Z'
                        modifiedDateTime: '2024-06-28T18:11:36Z'
                        createdByUser:
                          key: '1'
                          href: /objects/company-config/user/1
                        createdBy: '1'
                        modifiedByUser:
                          key: '1'
                          href: /objects/company-config/user/1
                        modifiedBy: '1'
                      locationKey: null
                      entity:
                        key: null
                        id: null
                        name: null
                      href: /objects/company-config/class/2
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    patch:
      summary: Update a class
      description: >-
        Updates an existing class by setting field values. Any fields not provided remain unchanged.
      tags:
        - Classes
      operationId: update-company-config-class-key
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/company-config-class'
                - type: object
                  properties:
                    id:
                      readOnly: true
            examples:
              Update a single value:
                value:
                  name: Root one
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Updated class
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to updated class:
                  value:
                    ia::result:
                      key: '1'
                      id: Class1
                      href: /objects/company-config/class/1
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    delete:
      summary: Delete a class
      description: >
        Deletes a class. You can delete a class if it is not being used or referenced. Deleted classes cannot be recovered.

      tags:
        - Classes
      operationId: delete-company-config-class-key
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/contact:
    get:
      summary: List contacts
      description: >-
        Returns up to 100 contacts from the collection with a key, ID, and link for each contact. This operation is mostly for use in testing; use the query service to find contacts that meet certain criteria and specify the properties that are returned.
      tags:
        - Contacts
      operationId: list-company-config-contact
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of contact objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List contacts:
                  value:
                    ia::result:
                      - key: '265'
                        id: Larry Spencer
                        href: /objects/company-config/contact/265
                      - key: '263'
                        id: John Doe
                        href: /objects/company-config/contact/263
                      - key: '264'
                        id: Alfred Mike
                        href: /objects/company-config/contact/264
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create a contact
      description: >
        Creates a new contact. The contact's `entity` fields will be set to the entity that the OAuth access token is associated with when the contact is created.

      tags:
        - Contacts
      operationId: create-company-config-contact
      requestBody:
        description: Contact object to create
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/company-config-contact'
                - $ref: '#/components/schemas/company-config-contactRequiredProperties'
            examples:
              Create a contact:
                value:
                  id: AMoore
                  prefix: Mr
                  firstName: Andy
                  lastName: Moore
                  middleName: Robert
                  printAs: Andy Moore
                  companyName: Sage
                  phone1: '9134598676'
                  mobile: '9133132299'
                  fax: '9134598677'
                  email1: andy.moore@mycompany.com
                  URL1: http://andy.exampledomain.com
                  mailingAddress:
                    addressLine1: 744 Edgewater Blvd
                    city: Kansas City
                    state: KS
                    postCode: '66104'
                    country: United States
                  tax:
                    isTaxable: true
                    taxId: 123-12-1234
                    group:
                      id: New York
                  status: active
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                title: New contact reference
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to new contact:
                  value:
                    ia::result:
                      key: '312'
                      id: AMoore
                      href: /objects/company-config/contact/312
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/contact/{key}:
    parameters:
      - name: key
        description: System-assigned key for a contact.
        in: path
        required: true
        example: '65'
        schema:
          type: string
    get:
      summary: Get a contact
      description: |
        Returns detailed information for a specified contact.
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the contact
                properties:
                  ia::result:
                    $ref: '#/components/schemas/company-config-contact'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Contact details:
                  value:
                    ia::result:
                      key: '1257'
                      id: AMoore
                      companyName: Sage
                      prefix: Mr
                      firstName: Andy
                      lastName: Moore
                      middleName: Robert
                      printAs: Andy Moore
                      tax:
                        isTaxable: true
                        group:
                          id: New York
                          key: '6'
                          href: /objects/company-config/contact-tax-group/6
                        taxId: 123-12-1234
                      phone1: '9134598676'
                      phone2: null
                      mobile: '9133132299'
                      pager: null
                      fax: '9134598677'
                      email1: andy.moore@mycompany.com
                      email2: null
                      URL1: http://andy.exampledomain.com
                      URL2: null
                      showInContactList: true
                      mailingAddress:
                        addressLine1: 744 Edgewater Blvd
                        addressLine2: null
                        addressLine3: null
                        city: Kansas City
                        country: United States
                        isoCountryCode: US
                        postCode: '66104'
                        state: KS
                      status: active
                      priceSchedule:
                        id: null
                        key: null
                      discount: null
                      priceList:
                        id: null
                        key: null
                      entity:
                        key: '54'
                        id: Western Region
                        name: Western Region
                        href: /objects/company-config/entity/54
                      href: /objects/company-config/contact/1257
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      operationId: get-company-config-contact-key
      security:
        - OAuth2: []
    patch:
      summary: Update a contact
      description: >
        Updates an existing contact by setting field values. Any fields not provided remain unchanged.

      tags:
        - Contacts
      operationId: update-company-config-contact-key
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/company-config-contact'
                - type: object
                  properties:
                    id:
                      readOnly: true
            examples:
              Assign a price list and set a contact as non-taxable:
                value:
                  priceList:
                    id: Best customer pricing
                  tax:
                    isTaxable: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Updated contact reference
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to updated contact:
                  value:
                    ia::result:
                      key: '312'
                      id: JohnD
                      href: /objects/company-config/contact/312
                    ia::meta:
                      totalCount: 1
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    delete:
      summary: Delete a contact
      description: >
        Deletes a contact. You can delete a contact if it is not being used or referenced. Deleted contacts cannot be recovered.

      tags:
        - Contacts
      operationId: delete-company-config-contact-key
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/department-group-member:
    get:
      summary: List department group members
      description: >-
        Returns a collection with a key, ID, and link for each department group member.
      tags:
        - Department group members
      operationId: list-company-config-department-group-member
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of department-group-member objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List of Department group Members:
                  value:
                    ia::result:
                      - key: '1'
                        id: '1'
                        href: /objects/company-config/department-group-member/1
                      - key: '3'
                        id: '3'
                        href: /objects/company-config/department-group-member/3
                      - key: '13'
                        id: '13'
                        href: /objects/company-config/department-group-member/13
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/department-group-member/{key}:
    parameters:
      - name: key
        description: System-assigned unique key for the department group member.
        in: path
        required: true
        example: '42'
        schema:
          type: string
    get:
      summary: Get a department group member
      description: Returns detailed information for a specified department group member.
      tags:
        - Department group members
      operationId: get-company-config-department-group-member-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the department-group-member
                properties:
                  ia::result:
                    $ref: '#/components/schemas/company-config-department-group-member'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Details of the department group member:
                  value:
                    ia::result:
                      key: '1'
                      id: '1'
                      departmentGroup:
                        key: '1'
                        href: /objects/company-config/department-group/1
                      department:
                        id: '8'
                        key: '8'
                        name: Finance
                        href: /objects/company-config/department/8
                      sortOrder: 0
                      audit:
                        createdDateTime: '2016-10-26T17:28:33Z'
                        modifiedDateTime: '2016-10-26T17:28:33Z'
                        createdBy: '1'
                        modifiedBy: '1'
                      href: /objects/company-config/department-group-member/1
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/department-group:
    get:
      summary: List department groups
      description: >
        Returns up to 100 department groups from the collection with a key, ID, and link for each group. This operation is mostly for use in testing; use the query service to find department groups that meet certain criteria and specify the properties that are returned.

      tags:
        - Department groups
      operationId: list-company-config-department-group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of department groups
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List of department groups:
                  value:
                    ia::result:
                      - key: '3'
                        id: Accounting
                        href: /objects/company-config/department-group/3
                      - key: '1'
                        id: Finance
                        href: /objects/company-config/department-group/1
                      - key: '2'
                        id: HR
                        href: /objects/company-config/department-group/2
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create a department group
      description: Creates a new department group.
      tags:
        - Department groups
      operationId: create-company-config-department-group
      requestBody:
        description: Creates a new department group.
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/company-config-department-group'
                - $ref: '#/components/schemas/company-config-department-groupRequiredProperties'
            examples:
              Create a department group type all:
                value:
                  id: HR
                  name: Human Resources
                  groupType: all
                  memberFilter:
                    object: company-config/department
                    filterExpression: and
                    filters:
                      - $eq:
                          name: Accounting
                    orderBy:
                      - name: asc
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                title: New department group
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to new department group:
                  value:
                    ia::result:
                      key: '19'
                      id: HR
                      href: /objects/company-config/department-group/19
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/department-group/{key}:
    parameters:
      - name: key
        description: System-assigned key for the department group.
        in: path
        required: true
        example: '18'
        schema:
          type: string
    get:
      summary: Get a department group
      description: Returns detailed information for a specified department group.
      tags:
        - Department groups
      operationId: get-company-config-department-group-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the department group
                properties:
                  ia::result:
                    $ref: '#/components/schemas/company-config-department-group'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Details of the department group:
                  value:
                    ia::result:
                      key: '1'
                      id: Top Departments
                      name: Top Level Departments
                      description: Top Level Departments
                      groupType: specific
                      memberFilter:
                        object: company-config/department
                        filterExpression: and
                        orderBy:
                          - name: asc
                      audit:
                        createdDateTime: '2023-10-26T00:00:00Z'
                        modifiedDateTime: '2023-10-26T00:00:00Z'
                        createdBy: '1'
                        modifiedBy: '1'
                      groupMembers:
                        - key: '1'
                          id: '1'
                          departmentGroup:
                            key: '1'
                            href: /objects/company-config/department-group/1
                          department:
                            id: FI
                            key: '8'
                            name: Finance
                            href: /objects/company-config/department/1
                          audit:
                            createdDateTime: '2024-10-26T17:28:33Z'
                            modifiedDateTime: '2024-10-26T17:28:33Z'
                            createdBy: '1'
                            modifiedBy: '1'
                          href: /objects/company-config/department-group-member/1
                      href: /objects/company-config/department-group/1
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    patch:
      summary: Update a department group
      description: >-
        Updates an existing department group by setting field values. Any fields not provided remain unchanged. New values for any arrays will replace the existing array.
      tags:
        - Department groups
      operationId: update-company-config-department-group-key
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/company-config-department-group'
                - type: object
                  properties:
                    id:
                      readOnly: true
            examples:
              Update a department group:
                value:
                  description: My Top departments America
                  memberFilter:
                    object: company-config/department
                    filterExpression: and
                    filters:
                      - $eq:
                          name: Accounting
                    orderBy:
                      - name: asc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Updated department group
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to updated department group:
                  value:
                    ia::result:
                      key: '12'
                      id: my top department
                      href: /objects/company-config/department-group/12
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    delete:
      summary: Delete a department group
      description: Deletes a department group.
      tags:
        - Department groups
      operationId: delete-company-config-department-group-key
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/department:
    get:
      summary: List departments
      description: >
        Returns up to 100 department references from the collection with a key, ID, and link for each department. This operation is mostly for use in testing; use the query service to find departments that meet certain criteria and to specify the properties that are returned.

      tags:
        - Departments
      operationId: list-company-config-department
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of departments
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List of departments:
                  value:
                    ia::result:
                      - key: '11'
                        id: Eng
                        href: /objects/company-config/department/1
                      - key: '2'
                        id: Fin
                        href: /objects/company-config/department/2
                      - key: '3'
                        id: HR
                        href: /objects/company-config/department/3
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create a department
      description: Creates a new department.
      tags:
        - Departments
      operationId: create-company-config-department
      requestBody:
        description: Department to create
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/company-config-department'
                - $ref: '#/components/schemas/company-config-departmentRequiredProperties'
            examples:
              Create a department:
                value:
                  id: ENG
                  name: Engineering
                  reportTitle: Engineering
                  status: active
                  supervisor:
                    key: '16'
              Create a child department:
                value:
                  id: SW
                  name: Software
                  reportTitle: Software Development
                  status: active
                  parent:
                    key: '28'
                  supervisor:
                    key: '5'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                title: New department
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                New department created:
                  value:
                    ia::result:
                      key: '12'
                      id: ENG
                      href: /objects/company-config/department/12
                    ia::meta:
                      totalCount: 1
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/department/{key}:
    parameters:
      - name: key
        description: System-assigned key for the department.
        in: path
        required: true
        example: '28'
        schema:
          type: string
    get:
      summary: Get a department
      description: Returns detailed information for a specified department.
      tags:
        - Departments
      operationId: get-company-config-department-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the department
                properties:
                  ia::result:
                    $ref: '#/components/schemas/company-config-department'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Department details:
                  value:
                    ia::result:
                      id: PS
                      key: '28'
                      name: Professional Services
                      parent:
                        key: '7'
                        id: CS--Client Services
                        name: Client Services
                        href: /objects/company-config/department/7
                      supervisor:
                        key: '5'
                        id: MGR1--PS Dept - Manager
                        name: PS Dept - Manager
                        href: /objects/company-config/employee/5
                      audit:
                        createdDateTime: '2023-01-08T11:28:12Z'
                        modifiedDateTime: '2023-01-08T11:28:12Z'
                        createdBy: '1'
                        modifiedBy: '95'
                      status: active
                      reportTitle: Professional Services
                      href: /objects/company-config/department/28
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    patch:
      summary: Update a department
      description: >-
        Updates an existing department by setting field values. Any fields not provided remain unchanged.
      tags:
        - Departments
      operationId: update-company-config-department-key
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/company-config-department'
                - type: object
                  properties:
                    id:
                      readOnly: true
            examples:
              Change department supervisor:
                value:
                  supervisor:
                    key: '99'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Updated department
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Department updated:
                  value:
                    ia::result:
                      key: '1'
                      id: SW
                      href: /objects/company-config/department/1
                    ia::meta:
                      totalCount: 1
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    delete:
      summary: Delete a department
      description: >-
        Deletes a department. You can delete a department if it is not being used or referenced. Deleted departments cannot be recovered.
      tags:
        - Departments
      operationId: delete-company-config-department-key
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/document-sequence-rollover:
    get:
      summary: List document sequence rollovers
      description: >-
        Returns a collection with a key, ID, and link for each document sequence rollover object.
      tags:
        - Document sequence rollovers
      operationId: list-company-config-document-sequence-rollover
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of fiscal year configuration objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List document sequence rollover objects:
                  value:
                    ia::result:
                      - key: '651'
                        id: '651'
                        href: /objects/company-config/document-sequence-rollover/651
                      - key: '652'
                        id: '652'
                        href: /objects/company-config/document-sequence-rollover/652
                    ia::meta:
                      totalCount: 2
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/document-sequence-rollover/{key}:
    parameters:
      - name: key
        description: System-assigned unique key for the document sequence rollover object.
        in: path
        required: true
        example: '651'
        schema:
          type: string
    get:
      summary: Get a document sequence rollover
      description: >-
        Returns detailed information for a specified document sequence rollover object.
      tags:
        - Document sequence rollovers
      operationId: get-company-config-document-sequence-rollover-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the document sequence rollover
                properties:
                  ia::result:
                    $ref: '#/components/schemas/company-config-document-sequence-rollover'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get a document sequence rollover:
                  value:
                    ia::result:
                      id: '651'
                      key: '651'
                      documentSequence:
                        key: '107'
                        id: BOA_ACH_BatchNo
                        href: /objects/company-config/document-sequence/107
                      fiscalYear: 2026
                      nextNumber: 1
                      nextSequence: null
                      audit:
                        createdDateTime: '2025-01-15T21:58:11Z'
                        modifiedDateTime: '2025-01-15T21:58:11Z'
                        createdByUser:
                          key: '158'
                          href: /objects/company-config/user/158
                        createdBy: '158'
                        modifiedByUser:
                          key: '158'
                          href: /objects/company-config/user/158
                        modifiedBy: '158'
                      href: /objects/company-config/document-sequence-rollover/651
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/document-sequence:
    get:
      summary: List document sequences
      description: >
        Returns up to 100 document sequences from the collection with a key, ID, and link for each sequence. This operation is mostly for use in testing; use the query service to find document sequences that meet certain criteria and to specify the properties that are returned.

      tags:
        - Document sequences
      operationId: list-company-config-document-sequence
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of document-sequence objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List of document sequences:
                  value:
                    ia::result:
                      - key: '37'
                        id: BOA_ACH_BatchNo
                        href: /objects/company-config/document-sequence/37
                      - key: '27'
                        id: Purchase Order
                        href: /objects/company-config/document-sequence/27
                    ia::meta:
                      totalCount: 2
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create a document sequence
      description: Creates a new document sequence.
      tags:
        - Document sequences
      operationId: create-company-config-document-sequence
      requestBody:
        description: Document sequence to create
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/company-config-document-sequence'
                - $ref: '#/components/schemas/company-config-document-sequenceRequiredProperties'
            examples:
              Creates a numeric document sequence:
                value:
                  id: Vendor Invoice
                  printTitle: Vendor Invoice
                  type: numeric
                  fixedPrefix: P
                  fixedSuffix: S
                  prefixSeparator: '-'
                  suffixSeparator: '-'
                  startingNumber: 1
                  endingNumber: null
                  nextNumber: 1
                  fixedLength: '4'
                  rollover:
                    isEnabled: true
                    fiscalYearAffixPosition: prefix
                    separator: '-'
                    fiscalYears:
                      - fiscalYear: 2025
                        nextNumber: 2025
                      - fiscalYear: 2026
                        nextNumber: 2026
              Creates an alphabetic document sequence:
                value:
                  id: Vendor Invoice
                  printTitle: Vendor Invoice
                  type: alpha
                  fixedPrefix: P
                  fixedSuffix: S
                  prefixSeparator: '-'
                  suffixSeparator: '-'
                  startingSequence: a
                  endingSequence: c
                  nextSequence: a
                  rollover:
                    isEnabled: true
                    fiscalYears:
                      - fiscalYear: 2023
                        nextSequence: a
                      - fiscalYear: 2024
                        nextSequence: a
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                title: New document-sequence
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                New document sequence:
                  value:
                    ia::result:
                      key: '107'
                      id: Vendor Invoice
                      href: /objects/company-config/document-sequence/107
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/document-sequence/{key}:
    parameters:
      - name: key
        description: System-assigned key for the document sequence.
        in: path
        required: true
        schema:
          type: string
        example: '99'
    get:
      summary: Get a document sequence
      description: Returns detailed information for a particular document sequence.
      tags:
        - Document sequences
      operationId: get-company-config-document-sequence-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the document-sequence
                properties:
                  ia::result:
                    $ref: '#/components/schemas/company-config-document-sequence'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Details of the document sequence:
                  value:
                    ia::result:
                      key: '107'
                      id: BOA_ACH_BatchNo
                      printTitle: BOA_ACH_BatchNo
                      fixedPrefix: P
                      fixedSuffix: S
                      prefixSeparator: '-'
                      suffixSeparator: '-'
                      startingNumber: 1
                      endingNumber: null
                      nextNumber: 1
                      whenModified: '2014-01-08T11:28:12Z'
                      fixedLength: null
                      status: active
                      type: numeric
                      startingSequence: null
                      endingSequence: null
                      nextSequence: null
                      entity:
                        key: '54'
                        id: Western Region
                        name: Western Region
                        href: /objects/company-config/entity/54
                      rollover:
                        isEnabled: true
                        enabledDate: '2024-02-14'
                        fiscalYearAffixPosition: prefix
                        separator: '-'
                      audit:
                        createdDateTime: '2014-01-08T11:28:12Z'
                        modifiedDateTime: '2014-01-08T11:28:12Z'
                        createdBy: '109'
                        modifiedBy: '109'
                      fiscalYears:
                        - id: '646'
                          key: '646'
                          documentSequence:
                            key: '405'
                          fiscalYear: 2026
                          nextNumber: 2026
                          nextSequence: null
                          audit:
                            createdDateTime: '2024-02-14T12:34:02Z'
                            modifiedDateTime: '2024-02-14T12:34:02Z'
                            createdBy: '109'
                            modifiedBy: '109'
                        - id: '645'
                          key: '645'
                          documentSequence:
                            key: '405'
                          fiscalYear: 2025
                          nextNumber: 2025
                          nextSequence: null
                          audit:
                            createdDateTime: '2024-02-14T12:34:02Z'
                            modifiedDateTime: '2024-02-14T12:34:02Z'
                            createdBy: '109'
                            modifiedBy: '109'
                      href: /objects/company-config/document-sequence/107
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    patch:
      summary: Update a document sequence
      description: >-
        Updates an existing document sequence by setting field values. Any fields not provided remain unchanged.
      tags:
        - Document sequences
      operationId: update-company-config-document-sequence-key
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/company-config-document-sequence'
                - type: object
                  properties:
                    id:
                      readOnly: true
            examples:
              Change the prefix separator:
                value:
                  prefixSeparator: '-'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Updated document-sequence
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Updated document sequence:
                  value:
                    ia::result:
                      key: '107'
                      id: BOA_ACH_BatchNo
                      href: /objects/company-config/document-sequence/107
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    delete:
      summary: Delete a document sequence
      description: Deletes a document sequence.
      tags:
        - Document sequences
      operationId: delete-company-config-document-sequence-key
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/earning-type:
    get:
      summary: List earning types
      description: >-
        Returns a collection with a key, ID, and link for each earning type. This operation is mostly for use in testing; use query to find objects that meet certain criteria and to specify properties that are returned.
      tags:
        - Earning types
      operationId: get-objects-company-config-earning-type
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of Earning types
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List earning types:
                  value:
                    ia::result:
                      - key: '46'
                        id: Overtime
                        href: /objects/time/earning-type/46
                      - key: '44'
                        id: Part time
                        href: /objects/time/earning-type/44
                      - key: '40'
                        id: Full time
                        href: /objects/time/earning-type/40
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 5
                      next: 0
                      previous: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create an earning type
      description: Creates a new earning type.
      tags:
        - Earning types
      operationId: create-objects-company-config-earning-type-key
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/company-config-earning-type'
                - $ref: '#/components/schemas/company-config-earning-typeRequiredProperties'
            examples:
              Create an earning type:
                value:
                  id: Overtime
                  billableGLAccount:
                    key: '158'
                  nonBillableGLAccount:
                    key: '159'
                  calculationMethod: hourly
                  rateMultiplier: '2'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                title: New earning-type
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to new earning type:
                  value:
                    ia::result:
                      key: '10'
                      id: '10'
                      href: /objects/time/earning-type/10
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/earning-type/{key}:
    parameters:
      - name: key
        in: path
        description: System-assigned key for an earning type.
        required: true
        example: '24'
        schema:
          type: string
    get:
      summary: Get an earning type
      description: Returns detailed information for a specified earning type.
      tags:
        - Earning types
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ia::result:
                    $ref: '#/components/schemas/company-config-earning-type'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an earning type:
                  value:
                    ia::result:
                      key: '1'
                      id: Overtime
                      billableGLAccount:
                        key: '158'
                        id: '6775.30'
                        name: Travel
                        href: /objects/general-ledger/account/23
                      nonBillableGLAccount:
                        key: '158'
                        id: '6774.30'
                        name: Expense
                        href: /objects/general-ledger/account/23
                      rateMultiplier: '2'
                      calculationMethod: hourly
                      audit:
                        createdDateTime: '2024-04-20T16:20:00Z'
                        modifiedDateTime: '2025-04-20T16:20:00Z'
                        createdBy: '1'
                        modifiedBy: '95'
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          description: Bad Request
      operationId: get-company-config-earning-type-key
      security:
        - OAuth2: []
    patch:
      summary: Update an earning type
      description: >-
        Updates an existing earning type by setting field values. Any fields not provided remain unchanged.
      tags:
        - Earning types
      operationId: patch-objects-company-config-earning-type-key
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/company-config-earning-type'
                - type: object
                  properties:
                    id:
                      readOnly: true
            examples:
              Update an earning type:
                value:
                  rateMultiplier: '1.5'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Updated earning-type
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to updated earning type:
                  value:
                    ia::result:
                      key: '10'
                      id: Overtime
                      href: /objects/time/earning-type/10
                    ia::meta:
                      totalCount: 1
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    delete:
      summary: Delete an earning type
      description: Deletes an earning type.
      tags:
        - Earning types
      operationId: delete-objects-company-config-earning-type-key
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/company-config/email-template:
    get:
      summary: List email templates
      description: >-
        Returns a collection with a key, ID, and link for each email template. This operation is mostly for use in testing; use query to find objects that meet certain criteria and to specify properties that are returned.
      tags:
        - Email templates
      operationId: list-company-config-email-template
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of email template objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List email templates:
                  value:
                    ia::result:
                      - key: '1'
                        id: '1'
                        href: /objects/company-config/email-template/1
                      - key: '2'
                        id: '2'
                        href: /objects/company-config/email-template/2
                    ia::meta:
                      totalCount: 2
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create an email template
      description: Creates a new email template.
      tags:
        - Email templates
[...]
