openapi: 3.0.3
info:
  title: General Ledger
  description: >
    The General Ledger is where a company creates and maintains accounts, journals, and financial reports. You use the General Ledger to post journal entries, design and run reports, create budgets, and more. Other Sage Intacct subscriptions automatically post transactions to the General Ledger in real-time.

  version: '1'
servers:
  - url: https://api.intacct.com/ia/api/v1
tags:
  - name: Accounts
    description: >-
      Companies post balance sheet, income statement, and statistical transactions to General Ledger accounts. Accounts make it easy to keep track of the transaction type, such as Accounts Payable, Accounts Receivable, Inventory, and the various sub-accounts for those transaction types. The comprehensive list of a company's General Ledger accounts is called its Chart of Accounts.
  - name: Account allocation definitions
    description: >-
      Account allocations let you automatically distribute amounts across multiple dimensions such as departments, locations, projects, or classes.


      Before you generate an account allocation, you must create an account allocation definition. The account allocation definition enables you to record the rationale used for your allocation, the source pool, basis, and target entry in 1 place. After the definition is in place, you can generate the allocation.


      For example, you can create an account allocation definition that distributes expenses across revenue-earning departments, then run an account allocation using that definition for the dates you want.
  - name: Account allocation groups
    description: >-
      When you have several allocations that run on the same interval (for example, at month end), creating an allocation group allows you to process these allocations efficiently. You can also order the members of an allocation group in the sequence they need to be processed in, for example, if an allocation is dependent on a different allocation being processed first.
  - name: Account allocation group members
    description: >
      Account allocation group members are the member accounts contained within an account allocation group. An account allocation group member contains the reference to the account allocation that is run as part of the account allocation group. Account allocation group member objects can only be created and updated through the owning account allocation group object.

  - name: Account allocation runs
    description: >
      Account allocations are where transactions are distributed across dimensions. Allocations are processed (run) to reflect accurate and up-to-date account balances.

  - name: Account allocation sources
    description: >
      The account allocation source pool determines the source accounts from which Intacct dynamically finds amounts to use in the account allocation. You can use dimension filters to narrow the scope of your allocation by limiting the source pool, for example, to a specific department or location group.

  - name: Account allocation basis
    description: >
      The account allocation basis defines how the allocation splits your source pool amount into each allocation focused dimension, it is the blueprint used when calculating dynamic allocations.

  - name: Account allocation targets
    description: >
      The account allocation target specifies where the amounts from the source pool are distributed when calculating the account allocation.

  - name: Account allocation reversals
    description: >
      Account allocation reverse creates offset entries to undo previous dynamic account allocation calculations.

  - name: Account categories
    description: >
      Account categories are high-level classifications that appear in a balance sheet or income statement. Sage Intacct provides ready-made account groups based on account categories for companies using the QuickStart template to simplify setup.

  - name: Account groups
    description: "All financial reports include account groups, these indicate which accounting data to include in your  reports. For example, a report might include the \"Accounts Payable\" account group for a specific customer or in a specific location. \n\nAccount groups organize accounts into re-usable structures, creating the groupings and amounts that you want to see on reports. You can create as many groups as you need, from large hierarchical structures like \"Net Income\" to flat account groups such as \"Cash and Cash Equivalents,\" and then use them across many different reports, graphs, and dashboard performance cards."
  - name: Account group purposes
    description: >-
      Account group purposes let you filter account groups according to why you might use them, which is particularly useful in financial reporting. You create account group purposes and then assign them to account groups when you create or update the groups.
  - name: Account group members
    description: >-
      Account group members are the member accounts contained within an account group.
  - name: Account group category members
    description: >
      Account group category members are accounts within a company's Chart of Accounts that have been organized into logical categories. For example, the Assets account group may contain account group category members, such as Cash, Accounts Receivable, and Inventory in the Current Assets category.

  - name: Computation account groups
    description: >
      Computation account groups consist of other account groups or individual accounts that you use as components in a mathematical equation; results of the equation display in financial reports. For more information, see [Account group types](https://www.intacct.com/ia/docs/en_US/help_action/Reporting/Setup/Account_groups/account-group-types.htm) in the Sage Intacct help center.

  - name: Account ranges
    description: >-
      Account ranges are used to define specific ranges of general ledger accounts. Account groups can include account ranges as group members, along with individual named accounts.
  - name: Budgets
    description: "Budgets help you to track company performance over time by comparing actual results against forecasted figures across pre-defined reporting periods. A budget represents a financial plan used to estimate company revenue and expenses. Each budget objects contains associated budget detail objects that correspond to specific reporting periods and include information such as location, department or other dimensions.\n\n Before you can create or import a budget, several items in Sage Intacct must be set up:\n\n* Reporting periods for budgeting: Budgets are typically created for reporting periods of 1 month. Reporting periods must exist and be available for inclusion in a budget. The dates of reporting periods selected for budgets cannot overlap. \n* Accounts: Each account for which you want to create a budget must exist in the Chart of Accounts.\n* Dimensions: Although using dimensions in budgets isn't required, dimensions such as Location, Department, or Employee can be included in a budget if they've been created in Intacct.\n\nTo learn more about the requirements for creating a budget, see [Before you create a budget](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Planning_Your_Intacct_Budgets) in the Sage Intacct Help Center.\n"
  - name: Budget details
    description: "Budget details for a general ledger account. Create and maintain budget details from the owning budget object. \n\nBudget details include reporting periods for the budget, the budget amount for each period and dimensions, such as departments or locations. Once saved, dimensions added to budget details cannot be changed. \n\nTo track budget data by dimension, create a separate budget detail for each dimension value. For example, to budget travel expenses across three locations, add three budget detail objects, one for each location.\n\nFor more information, read the [overview of creating budgets](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Creating_Editing_Viewing_Budgets) in the Sage Intacct Help Center.\n"
  - name: Journals
    description: >-
      Journals serve to categorize transactions that are directly entered in the General Ledger and the transactions that are posted from subledgers such as Accounts Payable. For more information see [What journals do you need?](https://www.intacct.com/ia/docs/en_US/help_action/General_Ledger/Setup/Journals/add-edit-journals.htm#Whatjournalsdoyouneed)
  - name: Journal entries
    description: "Journal entries record accounting entries in the general ledger by specifying affected accounts, amounts and descriptions. Use them to create, update, or reverse entries while ensuring the general ledger remains balanced with offsetting debits and credits.\n\nIf GL Outlier Detection is enabled, Sage Intacct identifies journal entries and allocation splits that deviate from expected patterns. Outlier details are included when retrieving a journal entry object. "
  - name: Journal entry lines
    description: >-
      Journal entry lines represent individual debit or credit line items within a [journal-entry](/openapi/gl/general-ledger.journal-entry/tag/Journal-entries). You can create or update line items by modifying the journal entry.


      When adding a line item to the journal entry, you can post it immediately or save it as a draft, which can be edited and posted later.
  - name: Journal entry tax entries
    description: >-
      For VAT enabled transactions, journal entries will have tax entries. Providing multiple tax entries is allowed if the tax solution supports it (AU, GB, FR). For ZA, only one tax entry is allowed.
  - name: Reporting periods
    description: >-
      Reporting periods are used when creating reports and budgets, and when opening and closing books. They limit the information in a report to specific time ranges.
  - name: Statistical accounts
    description: >-
      Statistical accounts are used to track non-financial data, such as employee headcount, number of members, or even the number of rooms in a hotel.
  - name: Statistical journals
    description: >
      Statistical journals hold all non-monetary journal entries, which do not have a debit or credit as a transaction. Instead, statistical journal entries simply increase or decrease a value.

  - name: Statistical journal entries
    description: >
      Statistical journal entries record and track non-financial data alongside financial transactions. They help measure key performance indicators and provide valuable insights for business reporting and analysis.


      Use statistical journal entries to add, edit, or reverse statistical transactions within a journal before posting them to the general ledger for reporting and analysis.

  - name: Statistical journal entry lines
    description: >-
      Statistical journal entry lines represent transactions within a statistical journal entry and are created or updated by modifying the statistical journal-entry.


      When adding a line item, you can post it immediately or save it as a draft, which can be edited and posted later.
  - name: Statistical adjustment journals
    description: >
      Use a statistical adjustment journal to store entries made to closed periods. You must create one or more statistical adjustment journals before creating statistical adjusting entries.


      For more information, read about [statistical adjustment journals](https://www.intacct.com/ia/docs/en_US/help_action/Default.htm#cshid=Stat_Adj_Jrnl_Info) in the Sage Intacct Help Center.

  - name: Transaction allocation templates
    description: "Transaction allocation templates (definitions) provide a way to save standard allocation combinations that are used routinely. You can define an allocation transaction to distribute amounts across multiple dimensions—such as departments, locations, projects, or classes—automatically.\n\nYou can allocate a percentage, a set (absolute) value, or a fixed amount with over/under logic. Each of these methods takes the transaction line amount and allocates it across the dimensions specified in the transaction allocation template. \n\nTransaction allocations are intended for use on single line items, allowing you to distribute amounts during entry of a transaction, usually a one-time action. Transaction allocations are only available for distribution across eight of the standard dimensions and have other restrictions as well.\n\nIf you want to automatically pull updated source balances and distribute them across dimensions according to defined basis calculations, you should use the Dynamic Allocations subscription. See Account Allocations for more info."
  - name: Transaction allocation template lines
    description: >-
      Transaction allocation template lines define how allocations are distributed. Allocation template lines can only be added, updated, and deleted through the owning txn-allocation-template object.
paths:
  /objects/general-ledger/account:
    get:
      summary: List accounts
      description: >-
        Returns a collection with a key, ID, and link for each account. This operation is mostly for use in testing; use the [query service](/openapi/common/core.query/tag/Query) to find accounts that meet certain criteria and to specify the properties that you want in the response.
      tags:
        - Accounts
      operationId: list-general-ledger-account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of account objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List accounts:
                  value:
                    ia::result:
                      - key: '406'
                        id: '9999'
                        href: /objects/general-ledger/account/406
                      - key: '407'
                        id: '1501.06'
                        href: /objects/general-ledger/account/407
                      - key: '16'
                        id: '1007'
                        href: /objects/general-ledger/account/16
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create an account
      description: Creates a new General Ledger account.
      tags:
        - Accounts
      operationId: create-general-ledger-account
      requestBody:
        description: Account to create
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/general-ledger-account'
                - $ref: '#/components/schemas/general-ledger-accountRequiredProperties'
            examples:
              Create an account:
                value:
                  id: '1501'
                  name: Vehicle Spare parts - Transmission
                  accountType: balanceSheet
                  closingType: nonClosingAccount
                  normalBalance: debit
                  alternativeGLAccount: none
                  status: active
                  requireDimensions:
                    department: false
                    location: false
                  isTaxable: false
                  disallowDirectPosting: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                title: New account
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to new account:
                  value:
                    ia::result:
                      key: '356'
                      id: '1501'
                      href: /objects/general-ledger/account/356
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account/{key}:
    parameters:
      - name: key
        description: System-assigned key for the account.
        in: path
        schema:
          type: string
        required: true
        example: '411'
    get:
      summary: Get an account
      description: Returns detailed information for a specified account.
      operationId: get-general-ledger-account-key
      tags:
        - Accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the account
                properties:
                  ia::result:
                    $ref: '#/components/schemas/general-ledger-account'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an account:
                  value:
                    ia::result:
                      key: '356'
                      id: '1501'
                      name: Vehicle Spare parts - Transmission
                      accountType: balanceSheet
                      normalBalance: debit
                      closingType: nonClosingAccount
                      closeToGLAccount:
                        id: null
                        key: null
                      status: active
                      requireDimensions:
                        department: false
                        location: false
                        project: false
                        customer: false
                        vendor: false
                        employee: false
                        item: false
                        class: false
                        contract: false
                        warehouse: false
                      isTaxable: false
                      category: null
                      taxCode: null
                      mrcCode: null
                      alternativeGLAccount: none
                      audit:
                        createdDateTime: '2022-10-15T00:05:46Z'
                        modifiedDateTime: '2022-10-15T00:05:46Z'
                        createdBy: '68'
                        modifiedBy: '68'
                      disallowDirectPosting: true
                      href: /objects/general-ledger/account/356
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    patch:
      summary: Update an account
      description: >-
        Updates an existing account by setting field values. Any fields not provided remain unchanged.


        An account `id` (account number) can only be changed if the General Ledger is configured to allow changes to account numbers and by users who have permission to change financial account numbers. Changing account numbers affects important aspects of Sage Intacct such as reports, data imports, historical information, and automation.
      tags:
        - Accounts
      operationId: update-general-ledger-account-key
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/general-ledger-account'
            examples:
              Update account to enable direct posting:
                value:
                  disallowDirectPosting: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Account updated
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to updated account:
                  value:
                    ia::result:
                      key: '356'
                      id: '1501'
                      href: /objects/general-ledger/account/356
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    delete:
      summary: Delete an account
      description: >-
        Deletes an account. You cannot delete an account if the account is used in a book transaction. Deleted accounts cannot be recovered.
      tags:
        - Accounts
      operationId: delete-general-ledger-account-key
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-allocation:
    get:
      summary: List account allocation definitions
      description: >-
        Returns a collection with a key, ID, and link for each account allocation definition. This operation is mostly for use in testing; use the [query service](/openapi/common/core.query/tag/Query) to find allocation definitions that meet specific criteria and to specify the properties that you want in the response.
      tags:
        - Account allocation definitions
      operationId: list-general-ledger-account-allocation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of account allocation definitions
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List account allocation definitions:
                  value:
                    ia::result:
                      - key: '23'
                        id: '23'
                        href: /objects/general-ledger/account-allocation/23
                      - key: '27'
                        id: '27'
                        href: /objects/general-ledger/account-allocation/27
                      - key: '21'
                        id: '21'
                        href: /objects/general-ledger/account-allocation/21
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create an account allocation definition
      description: Create a new account allocation definition.
      tags:
        - Account allocation definitions
      operationId: create-general-ledger-account-allocation
      requestBody:
        description: Create an account allocation definition.
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/general-ledger-account-allocation'
                - $ref: '#/components/schemas/general-ledger-account-allocationRequiredProperties'
            examples:
              Creates an account allocation definition:
                value:
                  name: Monthly Expenses RE
                  description: Monthly allocation of expenses
                  methodology: >-
                    Monthly Expense allocation across revenue earning departments
                  status: active
                  activityDelta: false
                  autoReversePriorPostedJournalEntry: false
                  dimensionTreatment:
                    location: preserveValues
                    department: allocationFocus
                    project: notConsidered
                    customer: notConsidered
                    vendor: notConsidered
                    employee: notConsidered
                    item: notConsidered
                    class: notConsidered
                    contract: notConsidered
                    warehouse: notConsidered
                  latestVersion: null
                  allowAllocation: withinOneEntity
                  glAccountAllocationSource:
                    - glAccountGroup:
                        id: source
                      percentToAllocate: '100'
                      timePeriod:
                        id: Current Month
                      reportingBook: accrual
                      useAmountsFrom: mainReportingBookAndAlternateBooks
                      currency: USD
                      dimensions:
                        location:
                          id: '1'
                        department:
                          id: '3'
                        employee:
                          id: '1'
                  glAccountAllocationBasis:
                    - glAccountGroup:
                        id: Basis
                      accumulation: activity
                      timePeriod:
                        id: Current Month
                      allocationMethod: dynamicRelativeAccountFinancial
                      reportingBook: accrual
                      useAmountsFrom: mainReportingBookAndAlternateBooks
                      skipNegative: false
                      dimensions:
                        location:
                          id: '1'
                        employee:
                          id: '1'
                  glAccountAllocationTarget:
                    - journal:
                        id: Others
                      glAccount:
                        id: '1105'
                      isBillable: false
                      dimensions:
                        location:
                          id: AZ
                        customer:
                          id: '1'
                  glAccountAllocationReverse:
                    - useSourceAccount: true
                      dimensions:
                        location:
                          id: AZ
                        department:
                          id: '6'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                title: New account allocation definition
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to new account allocation definition:
                  value:
                    ia::result:
                      id: '29'
                      key: '29'
                      href: /objects/general-ledger/account-allocation/29
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-allocation/{key}:
    parameters:
      - name: key
        description: System-assigned key for the account allocation definition.
        in: path
        required: true
        schema:
          type: string
        example: '178'
    get:
      summary: Get an account allocation definition
      description: >-
        Returns detailed information for a specified account allocation definition.
      tags:
        - Account allocation definitions
      operationId: get-general-ledger-account-allocation-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the account allocation definition
                properties:
                  ia::result:
                    $ref: '#/components/schemas/general-ledger-account-allocation'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an account allocation definition:
                  value:
                    ia::result:
                      id: '29'
                      key: '29'
                      name: Monthly Expenses RE
                      description: Monthly allocation of expenses
                      methodology: >-
                        Monthly Expense allocation across revenue earning departments
                      status: active
                      activityDelta: false
                      autoReversePriorPostedJournalEntry: false
                      dimensionTreatment:
                        location: preserveValues
                        department: allocationFocus
                        project: notConsidered
                        customer: notConsidered
                        vendor: notConsidered
                        employee: notConsidered
                        item: notConsidered
                        class: notConsidered
                        contract: notConsidered
                        warehouse: notConsidered
                      latestVersion: null
                      audit:
                        createdDateTime: '2024-06-25T12:16:47Z'
                        modifiedDateTime: '2024-06-25T12:16:47Z'
                        createdBy: Admin
                        modifiedBy: Admin
                      journal:
                        id: Travel
                        key: '41'
                        href: /objects/general-ledger/journal/41
                      allowAllocation: withinOneEntity
                      attachment:
                        id: null
                        key: null
                      entity:
                        key: null
                        id: null
                        name: null
                      glAccountAllocationSource:
                        - id: '28'
                          key: '28'
                          glAccountAllocation:
                            id: '29'
                            key: '29'
                            href: /objects/general-ledger/account-allocation/29
                          glAccountGroup:
                            id: source
                            key: '622'
                            href: /objects/general-ledger/account-group/622
                          percentToAllocate: '100'
                          timePeriod:
                            id: Current Month
                            key: '395'
                            href: /objects/general-ledger/reporting-period/395
                          reportingBook: accrual
                          useAmountsFrom: mainReportingBookAndAlternateBooks
                          currency: USD
                          audit:
                            createdDateTime: '2024-06-25T12:16:47Z'
                            modifiedDateTime: '2024-06-25T12:16:47Z'
                            createdBy: '1'
                            modifiedBy: '1'
                          dimensions:
                            location:
                              key: '1'
                              id: '1'
                              name: United States of America
                              href: /objects/company-config/location/1
                            department:
                              key: '3'
                              id: '3'
                              name: Engineering
                              href: /objects/company-config/department/3
                            project:
                              key: null
                              name: null
                              id: null
                            customer:
                              key: null
                              name: null
                              id: null
                            vendor:
                              key: null
                              name: null
                              id: null
                            employee:
                              key: '1'
                              name: John Smith
                              id: '1'
                              href: /objects/company-config/employee/1
                            item:
                              key: null
                              name: null
                              id: null
                            class:
                              key: null
                              name: null
                              id: null
                            contract:
                              key: null
                              name: null
                              id: null
                            warehouse:
                              key: null
                              name: null
                              id: null
                            task:
                              id: null
                          href: /objects/general-ledger/account-allocation-source/28
                      glAccountAllocationBasis:
                        - id: '21'
                          key: '21'
                          glAccountAllocation:
                            id: '29'
                            key: '29'
                            href: /objects/general-ledger/account-allocation/29
                          glAccountGroup:
                            id: Basis
                            key: '623'
                            href: /objects/general-ledger/account-group/623
                          accumulation: activity
                          timePeriod:
                            id: Current Month
                            key: '395'
                            href: /objects/general-ledger/reporting-period/395
                          allocationMethod: dynamicRelativeAccountFinancial
                          reportingBook: accrual
                          useAmountsFrom: mainReportingBookAndAlternateBooks
                          skipNegative: false
                          dimensions:
                            location:
                              key: '1'
                              id: '1'
                              name: United States of America
                              href: /objects/company-config/location/1
                            department:
                              key: null
                              id: null
                              name: null
                            project:
                              key: null
                              name: null
                              id: null
                            customer:
                              key: null
                              name: null
                              id: null
                            vendor:
                              key: null
                              name: null
                              id: null
                            employee:
                              key: '1'
                              name: John Smith
                              id: '1'
                              href: /objects/company-config/employee/1
                            item:
                              key: null
                              name: null
                              id: null
                            class:
                              key: null
                              name: null
                              id: null
                            contract:
                              key: null
                              name: null
                              id: null
                            warehouse:
                              key: null
                              name: null
                              id: null
                            task:
                              id: null
                          href: /objects/general-ledger/account-allocation-basis/21
                      glAccountAllocationTarget:
                        - id: '21'
                          key: '21'
                          glAccountAllocation:
                            id: '29'
                            key: '29'
                            href: /objects/general-ledger/account-allocation/29
                          journal:
                            key: '39'
                            title: Accommodation Expenses
                            id: Others
                            href: /objects/general-ledger/journal/39
                          glAccount:
                            id: '1105'
                            key: '378'
                            name: Target
                            href: /objects/general-ledger/account/378
                          isBillable: false
                          audit:
                            createdDateTime: '2024-06-25T12:16:47Z'
                            modifiedDateTime: '2024-06-25T12:16:47Z'
                            createdBy: '1'
                            modifiedBy: '1'
                          dimensions:
                            location:
                              key: '72'
                              id: AZ
                              name: Arizona
                              href: /objects/company-config/location/72
                            department:
                              key: null
                              id: null
                              name: null
                            project:
                              key: null
                              name: null
                              id: null
                            customer:
                              key: '1'
                              name: Power Aerospace Materials
                              id: '1'
                              href: /objects/accounts-receivable/customer/1
                            vendor:
                              key: null
                              name: null
                              id: null
                            employee:
                              key: null
                              name: null
                              id: null
                            item:
                              key: null
                              name: null
                              id: null
                            class:
                              key: null
                              name: null
                              id: null
                            contract:
                              key: null
                              name: null
                              id: null
                            warehouse:
                              key: null
                              name: null
                              id: null
                          href: /objects/general-ledger/account-allocation-target/21
                      glAccountAllocationReverse:
                        - id: '21'
                          key: '21'
                          glAccountAllocation:
                            id: '29'
                            key: '29'
                            href: /objects/general-ledger/account-allocation/29
                          glAccount:
                            id: null
                            key: null
                            name: null
                          useSourceAccount: true
                          audit:
                            createdDateTime: '2024-06-25T12:16:48Z'
                            modifiedDateTime: '2024-06-25T12:16:48Z'
                            createdBy: '1'
                            modifiedBy: '1'
                          dimensions:
                            location:
                              key: '72'
                              id: AZ
                              name: Arizona
                              href: /objects/company-config/location/72
                            department:
                              key: '6'
                              id: '6'
                              name: Marketing
                              href: /objects/company-config/department/6
                            project:
                              key: null
                              name: null
                              id: null
                            customer:
                              key: null
                              name: null
                              id: null
                            vendor:
                              key: null
                              name: null
                              id: null
                            employee:
                              key: null
                              name: null
                              id: null
                            item:
                              key: null
                              name: null
                              id: null
                            class:
                              key: null
                              name: null
                              id: null
                            contract:
                              key: null
                              name: null
                              id: null
                            warehouse:
                              key: null
                              name: null
                              id: null
                          href: '/objects/general-ledger/account-allocation-reverse/21'
                      href: /objects/general-ledger/account-allocation/29
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    patch:
      summary: Update an account allocation definition
      description: >-
        Updates an existing account allocation definition by setting field values. Any fields not provided remain unchanged.
      tags:
        - Account allocation definitions
      operationId: update-general-ledger-account-allocation-key
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/general-ledger-account-allocation'
                - type: object
                  properties:
                    id:
                      readOnly: true
            examples:
              Updates an account allocation definition:
                value:
                  description: Yearly allocation of expenses
                  methodology: Yearly Expense allocation across revenue earning departments
                  activityDelta: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Updated account allocation definition
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to updated account allocation definition:
                  value:
                    ia::result:
                      id: '29'
                      key: '29'
                      href: /objects/general-ledger/account-allocation/29
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    delete:
      summary: Delete an account allocation definition
      description: Deletes an account allocation definition.
      tags:
        - Account allocation definitions
      operationId: delete-general-ledger-account-allocation-key
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-allocation-group:
    get:
      summary: List account allocation groups
      description: >-
        Returns a collection with a key, ID, and link for each account allocation group. This operation is mostly for use in testing; use the [query service](/openapi/common/core.query/tag/Query) to find allocation groups that meet specific criteria and to specify the properties that you want in the response.
      tags:
        - Account allocation groups
      operationId: list-general-ledger-account-allocation-group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of account allocation groups
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List account allocation groups:
                  value:
                    ia::result:
                      - key: '1'
                        id: '1'
                        href: /objects/general-ledger/account-allocation-group/1
                      - key: '2'
                        id: '2'
                        href: /objects/general-ledger/account-allocation-group/2
                    ia::meta:
                      totalCount: 2
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create an account allocation group
      description: Creates a new account allocation group.
      tags:
        - Account allocation groups
      operationId: create-general-ledger-account-allocation-group
      requestBody:
        description: Create a new account allocation group.
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/general-ledger-account-allocation-group'
                - $ref: '#/components/schemas/general-ledger-account-allocation-groupRequiredProperties'
            examples:
              Create an account allocation group:
                value:
                  name: Month end
                  description: All month end allocations for the company.
                  errorProcessingMethod: skipAndContinue
                  lines:
                    - glAccountAllocation:
                        id: '1'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                title: New account allocation group
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to new account allocation group:
                  value:
                    ia::result:
                      key: '28'
                      id: '28'
                      href: /objects/general-ledger/account-allocation-group/28
                    ia::meta:
                      totalCount: 1
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-allocation-group/{key}:
    parameters:
      - name: key
        description: System-assigned key for the account allocation group.
        in: path
        required: true
        schema:
          type: string
        example: '178'
    get:
      summary: Get an account allocation group
      description: Returns detailed information for a specified account allocation group.
      tags:
        - Account allocation groups
      operationId: get-general-ledger-account-allocation-group-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the account allocation group
                properties:
                  ia::result:
                    $ref: '#/components/schemas/general-ledger-account-allocation-group'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an account allocation group:
                  value:
                    ia::result:
                      key: '5'
                      id: '5'
                      name: Month end
                      description: All month end allocations for the company.
                      status: active
                      errorProcessingMethod: skipAndContinue
                      audit:
                        createdDateTime: '2024-10-08T13:29:18Z'
                        modifiedDateTime: '2024-10-08T13:29:18Z'
                        createdByUser:
                          key: '34'
                          id: Admin
                          href: /objects/company-config/user/34
                        modifiedByUser:
                          key: '1'
                          id: Aman
                          href: /objects/company-config/user/1
                      lines:
                        - key: '6'
                          id: '6'
                          glAccountAllocationGroup:
                            id: Month end
                            key: '5'
                            href: /objects/general-ledger/account-allocation-group/5
                          glAccountAllocation:
                            id: '8'
                            key: '8'
                            href: /objects/general-ledger/account-allocation/8
                          status: active
                          audit:
                            createdDateTime: '2024-10-08T13:29:18Z'
                            modifiedDateTime: '2024-10-08T13:29:18Z'
                            createdByUser:
                              key: '34'
                              id: Admin
                              href: /objects/company-config/user/34
                            modifiedByUser:
                              key: '1'
                              id: Aman
                              href: /objects/company-config/user/1
                          href: '/objects/general-ledger/account-allocation-group-member/6'
                      href: /objects/general-ledger/account-allocation-group/5
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    patch:
      summary: Update an account allocation group
      description: >-
        Updates an existing account allocation group by setting field values. Any fields not provided remain unchanged.
      tags:
        - Account allocation groups
      operationId: update-general-ledger-account-allocation-group-key
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/general-ledger-account-allocation-group'
                - type: object
                  properties:
                    id:
                      readOnly: true
            examples:
              Update an account allocation group:
                value:
                  name: Interest allocation
                  description: Compute interest allocation.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Updated account allocation group
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to updated account allocation group:
                  value:
                    ia::result:
                      key: '21'
                      id: '21'
                      href: /objects/general-ledger/account-allocation-group/21
                    ia::meta:
                      totalCount: 1
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    delete:
      summary: Delete an account allocation group
      description: Deletes an account allocation group.
      tags:
        - Account allocation groups
      operationId: delete-general-ledger-account-allocation-group-key
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-allocation-group-member:
    get:
      summary: List account allocation group members
      description: >-
        Returns a collection with a key, ID, and link for each group member. This operation is mostly for use in testing; use the [query service](/openapi/common/core.query/tag/Query) to find allocation group members that meet specific criteria and to specify the properties that you want in the response.
      tags:
        - Account allocation group members
      operationId: list-general-ledger-account-allocation-group-member
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of account allocation group members
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List account allocation group members:
                  value:
                    ia::result:
                      - key: '1'
                        id: '1'
                        href: '/objects/general-ledger/account-allocation-group-member/1'
                      - key: '2'
                        id: '2'
                        href: '/objects/general-ledger/account-allocation-group-member/2'
                    ia::meta:
                      totalCount: 2
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-allocation-group-member/{key}:
    parameters:
      - name: key
        description: System-assigned key for the account allocation group member.
        in: path
        required: true
        schema:
          type: string
        example: '99'
    get:
      summary: Get an account allocation group member
      description: >-
        Returns detailed information for a specified account allocation group member.
      tags:
        - Account allocation group members
      operationId: get-general-ledger-account-allocation-group-member-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the account allocation group member
                properties:
                  ia::result:
                    $ref: '#/components/schemas/general-ledger-account-allocation-group-member'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an account allocation group member:
                  value:
                    ia::result:
                      id: '1'
                      key: '1'
                      glAccountAllocationGroup:
                        id: Fringe Group
                        key: '1'
                        href: /objects/general-ledger/account-allocation-group/1
                      glAccountAllocation:
                        name: Fringe01
                        id: '1'
                        key: '1'
                        href: /objects/general-ledger/account-allocation/1
                      status: active
                      audit:
                        createdDateTime: '2025-01-28T16:20:22Z'
                        modifiedDateTime: '2025-01-28T16:20:22Z'
                        createdByUser:
                          key: '159'
                          href: /objects/company-config/user/159
                        createdBy: '159'
                        modifiedByUser:
                          key: '159'
                          href: /objects/company-config/user/159
                        modifiedBy: '159'
                      href: '/objects/general-ledger/account-allocation-group-member/1'
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-allocation-run:
    get:
      summary: List account allocation runs
      description: >-
        Returns a collection with a key, ID, and link for each account allocation run.
      tags:
        - Account allocation runs
      operationId: list-general-ledger-account-allocation-run
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of account-allocation-run objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List account allocation runs:
                  value:
                    ia::result:
                      - key: '105'
                        id: '105'
                        href: /objects/general-ledger/account-allocation-run/105
                      - key: '106'
                        id: '106'
                        href: /objects/general-ledger/account-allocation-run/106
                      - key: '108'
                        id: '108'
                        href: /objects/general-ledger/account-allocation-run/108
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    post:
      summary: Create an account allocation run
      description: Creates a new account allocation run.
      tags:
        - Account allocation runs
      operationId: create-general-ledger-account-allocation-run
      requestBody:
        description: Create an account allocation run
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/general-ledger-account-allocation-run'
                - $ref: '#/components/schemas/general-ledger-account-allocation-runRequiredProperties'
            examples:
              Create an account allocation run:
                value:
                  asOfDate: '2024-08-24'
                  glPostingDate: '2024-10-25'
                  email: angie.kuman@mycompany.com
                  accountAllocationGroup:
                    id: '5'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                title: New account allocation run
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Create a new account allocation run:
                  value:
                    ia::result:
                      id: '97'
                      key: '97'
                      href: /objects/general-ledger/account-allocation-run/97
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-allocation-run/{key}:
    parameters:
      - name: key
        description: System-assigned unique key for the account allocation run.
        in: path
        required: true
        schema:
          type: string
        example: '178'
    get:
      summary: Get an account allocation run
      description: Returns detailed information for the specified account allocation run.
      tags:
        - Account allocation runs
      operationId: get-general-ledger-account-allocation-run-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the account allocation run
                properties:
                  ia::result:
                    $ref: '#/components/schemas/general-ledger-account-allocation-run'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an account allocation run:
                  value:
                    ia::result:
                      id: '97'
                      key: '97'
                      asOfDate: '2024-08-24'
                      glPostingDate: '2024-10-25'
                      email: angie.kuman@mycompany.com
                      accountAllocation:
                        id: null
                        key: null
                      allocationType: null
                      accountAllocationGroup:
                        name: Employee allocation group
                        id: '5'
                        key: '5'
                        href: /objects/general-ledger/account-allocation-group/5
                      parent:
                        id: null
                        key: null
                      state: partialSuccess
                      allocationRunType: regular
                      message: null
                      audit:
                        createdDateTime: '2024-09-20T05:17:09Z'
                        modifiedDateTime: '2024-09-20T05:17:58Z'
                        createdBy: '1'
                        modifiedBy: '1'
                      entity:
                        key: null
                        id: null
                        name: null
                      dimensions:
                        project:
                          key: null
                          id: null
                          name: null
                        employee:
                          key: null
                          id: null
                          name: null
                      href: /objects/general-ledger/account-allocation-run/97
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    delete:
      summary: Delete an account allocation run
      description: Deletes an account allocation run.
      tags:
        - Account allocation runs
      operationId: delete-general-ledger-account-allocation-run-key
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-allocation-source:
    get:
      summary: List account allocation sources
      description: >-
        Returns a collection with a key, ID, and link for each account allocation source.
      tags:
        - Account allocation sources
      operationId: list-general-ledger-account-allocation-source
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of account allocation sources
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List account allocation sources:
                  value:
                    ia::result:
                      - key: '23'
                        id: '23'
                        href: /objects/general-ledger/account-allocation-source/23
                      - key: '27'
                        id: '27'
                        href: /objects/general-ledger/account-allocation-source/27
                      - key: '28'
                        id: '28'
                        href: /objects/general-ledger/account-allocation-source/28
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-allocation-source/{key}:
    parameters:
      - name: key
        description: System-assigned unique key for the account allocation source.
        in: path
        required: true
        schema:
          type: string
        example: '178'
    get:
      summary: Get an account allocation source
      description: Returns detailed information for a specified account allocation source.
      tags:
        - Account allocation sources
      operationId: get-general-ledger-account-allocation-source-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the account allocation source
                properties:
                  ia::result:
                    $ref: '#/components/schemas/general-ledger-account-allocation-source'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an account allocation source:
                  value:
                    ia::result:
                      id: '28'
                      key: '28'
                      glAccountAllocation:
                        id: '29'
                        key: '29'
                        href: /objects/general-ledger/account-allocation/29
                      glAccountGroup:
                        id: source
                        key: '622'
                        href: /objects/general-ledger/account-group/622
                      percentToAllocate: '100'
                      timePeriod:
                        id: Current Month
                        key: '395'
                        href: /objects/general-ledger/reporting-period/395
                      reportingBook: accrual
                      useAmountsFrom: mainReportingBookAndAlternateBooks
                      currency: USD
                      audit:
                        createdDateTime: '2024-06-25T12:16:47Z'
                        modifiedDateTime: '2024-06-25T12:34:07Z'
                        createdBy: '1'
                        modifiedBy: '1'
                      dimensions:
                        location:
                          key: '1'
                          id: '1'
                          name: United States of America
                          href: /objects/company-config/location/1
                        department:
                          key: '3'
                          id: '3'
                          name: Engineering
                          href: /objects/company-config/department/3
                        project:
                          key: null
                          name: null
                          id: null
                        customer:
                          key: null
                          name: null
                          id: null
                        vendor:
                          key: null
                          name: null
                          id: null
                        employee:
                          key: null
                          name: null
                          id: null
                        item:
                          key: null
                          name: null
                          id: null
                        class:
                          key: null
                          name: null
                          id: null
                        contract:
                          key: null
                          name: null
                          id: null
                        warehouse:
                          key: null
                          name: null
                          id: null
                      href: /objects/general-ledger/account-allocation-source/28
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    patch:
      summary: Update an account allocation source
      description: >-
        Updates an existing account allocation source by setting field values. Any fields not provided remain unchanged.
      tags:
        - Account allocation sources
      operationId: update-general-ledger-account-allocation-source-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/general-ledger-account-allocation-source'
            examples:
              Update an account allocation source:
                value:
                  percentToAllocate: '70'
                  timePeriod:
                    key: '400'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Updated account allocation source
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to updated account allocation source:
                  value:
                    ia::result:
                      key: '28'
                      id: '28'
                      href: /objects/general-ledger/account-allocation-source/28
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-allocation-basis:
    get:
      summary: List account allocation basis objects
      description: >-
        Returns a collection with a key, ID, and link for each account allocation basis.
      tags:
        - Account allocation basis
      operationId: list-general-ledger-account-allocation-basis
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of account allocation basis objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List account allocation basis objects:
                  value:
                    ia::result:
                      - key: '16'
                        id: '16'
                        href: /objects/general-ledger/account-allocation-basis/16
                      - key: '20'
                        id: '20'
                        href: /objects/general-ledger/account-allocation-basis/20
                      - key: '21'
                        id: '21'
                        href: /objects/general-ledger/account-allocation-basis/21
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-allocation-basis/{key}:
    parameters:
      - name: key
        description: System-assigned key for the account allocation basis.
        in: path
        required: true
        schema:
          type: string
        example: '178'
    get:
      summary: Get an account allocation basis
      description: Returns detailed information for a specified account allocation basis.
      tags:
        - Account allocation basis
      operationId: get-general-ledger-account-allocation-basis-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the account allocation basis
                properties:
                  ia::result:
                    $ref: '#/components/schemas/general-ledger-account-allocation-basis'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an account allocation basis:
                  value:
                    ia::result:
                      id: '21'
                      key: '21'
                      glAccountAllocation:
                        id: '29'
                        key: '29'
                        href: /objects/general-ledger/account-allocation/29
                      glAccountGroup:
                        id: Basis
                        key: '623'
                        href: /objects/general-ledger/account-group/623
                      accumulation: activity
                      timePeriod:
                        id: Current Month
                        key: '395'
                        href: /objects/general-ledger/reporting-period/395
                      allocationMethod: dynamicRelativeAccountFinancial
                      reportingBook: accrual
                      useAmountsFrom: mainReportingBookAndAlternateBooks
                      skipNegative: false
                      dimensions:
                        location:
                          key: '1'
                          id: '1'
                          name: United States of America
                          href: /objects/company-config/location/1
                        department:
                          key: '3'
                          id: '3'
                          name: Engineering
                          href: /objects/company-config/department/3
                        project:
                          key: null
                          name: null
                          id: null
                        customer:
                          key: null
                          name: null
                          id: null
                        vendor:
                          key: null
                          name: null
                          id: null
                        employee:
                          key: null
                          name: null
                          id: null
                        item:
                          key: null
                          name: null
                          id: null
                        class:
                          key: null
                          name: null
                          id: null
                        contract:
                          key: null
                          name: null
                          id: null
                        warehouse:
                          key: null
                          name: null
                          id: null
                      href: /objects/general-ledger/account-allocation-basis/21
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    patch:
      summary: Update an account allocation basis
      description: >-
        Updates an existing account allocation basis object by setting field values. Any fields not provided remain unchanged.
      tags:
        - Account allocation basis
      operationId: update-general-ledger-account-allocation-basis-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/general-ledger-account-allocation-basis'
            examples:
              Update an account allocation basis:
                value:
                  skipNegative: true
                  allocationMethod: dynamicRelativeAccountFinancial
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Updated account allocation basis
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to updated account allocation basis:
                  value:
                    ia::result:
                      key: '21'
                      id: '21'
                      href: /objects/general-ledger/account-allocation-basis/21
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-allocation-target:
    get:
      summary: List account allocation targets
      description: >-
        Returns a collection with a key, ID, and link for each account allocation target.
      tags:
        - Account allocation targets
      operationId: list-general-ledger-account-allocation-target
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of account allocation targets
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List account allocation targets:
                  value:
                    ia::result:
                      - key: '16'
                        id: '16'
                        href: /objects/general-ledger/account-allocation-target/16
                      - key: '20'
                        id: '20'
                        href: /objects/general-ledger/account-allocation-target/20
                      - key: '21'
                        id: '21'
                        href: /objects/general-ledger/account-allocation-target/21
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-allocation-target/{key}:
    parameters:
      - name: key
        description: System-assigned key for the account allocation target.
        in: path
        required: true
        schema:
          type: string
        example: '178'
    get:
      summary: Get an account allocation target
      description: Returns detailed information for a specified account allocation target.
      tags:
        - Account allocation targets
      operationId: get-general-ledger-account-allocation-target-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the account allocation target
                properties:
                  ia::result:
                    $ref: '#/components/schemas/general-ledger-account-allocation-target'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an account allocation target:
                  value:
                    ia::result:
                      id: '21'
                      key: '21'
                      glAccountAllocation:
                        id: '29'
                        key: '29'
                        href: /objects/general-ledger/account-allocation/29
                      journal:
                        key: '39'
                        title: Accommodation Expenses
                        id: Others
                        href: /objects/general-ledger/journal/39
                      exchangeRate:
                        typeId: '1'
                      glAccount:
                        id: '1105'
                        key: '378'
                        name: Target
                        href: /objects/general-ledger/account/378
                      isBillable: false
                      audit:
                        createdDateTime: '2024-06-25T12:16:47Z'
                        modifiedDateTime: '2024-06-25T12:58:12Z'
                        createdBy: '1'
                        modifiedBy: '1'
                      dimensions:
                        location:
                          key: '72'
                          id: AZ
                          name: Arizona
                          href: /objects/company-config/location/72
                        department:
                          key: null
                          id: null
                          name: null
                        project:
                          key: null
                          name: null
                          id: null
                        customer:
                          key: '1'
                          name: Power Aerospace Materials
                          id: '1'
                          href: /objects/accounts-receivable/customer/1
                        vendor:
                          key: null
                          name: null
                          id: null
                        employee:
                          key: null
                          name: null
                          id: null
                        item:
                          key: null
                          name: null
                          id: null
                        class:
                          key: null
                          name: null
                          id: null
                        contract:
                          key: null
                          name: null
                          id: null
                        warehouse:
                          key: null
                          name: null
                          id: null
                      href: /objects/general-ledger/account-allocation-target/21
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    patch:
      summary: Update an account allocation target
      description: >-
        Updates an existing account allocation target by setting field values. Any fields not provided remain unchanged.
      tags:
        - Account allocation targets
      operationId: update-general-ledger-account-allocation-target-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/general-ledger-account-allocation-target'
            examples:
              Update an account allocation target:
                value:
                  isBillable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Updated account allocation target
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to updated account allocation target:
                  value:
                    ia::result:
                      key: '21'
                      id: '21'
                      href: /objects/general-ledger/account-allocation-target/21
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-allocation-reverse:
    get:
      summary: List account allocation reversals
      description: >-
        Returns a collection with a key, ID, and link for each account allocation reversal.
      tags:
        - Account allocation reversals
      operationId: list-general-ledger-account-allocation-reverse
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of account allocation reversals
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List account allocation reversals:
                  value:
                    ia::result:
                      - key: '16'
                        id: '16'
                        href: /objects/general-ledger/account-allocation-reverse/16
                      - key: '20'
                        id: '20'
                        href: /objects/general-ledger/account-allocation-reverse/20
                      - key: '21'
                        id: '21'
                        href: /objects/general-ledger/account-allocation-reverse/21
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-allocation-reverse/{key}:
    parameters:
      - name: key
        description: System-assigned key for the account allocation reversal.
        in: path
        required: true
        schema:
          type: string
        example: '178'
    get:
      summary: Get an account allocation reversal
      description: >-
        Returns detailed information for a specified account allocation reversal.
      tags:
        - Account allocation reversals
      operationId: get-general-ledger-account-allocation-reverse-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the account allocation reversal
                properties:
                  ia::result:
                    $ref: '#/components/schemas/general-ledger-account-allocation-reverse'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an account allocation reversal:
                  value:
                    ia::result:
                      id: '21'
                      key: '21'
                      glAccountAllocation:
                        id: '29'
                        key: '29'
                        href: /objects/general-ledger/account-allocation/29
                      glAccount:
                        id: null
                        key: null
                        name: null
                      useSourceAccount: true
                      audit:
                        createdDateTime: '2024-06-25T12:16:48Z'
                        modifiedDateTime: '2024-06-25T12:58:13Z'
                        createdBy: '1'
                        modifiedBy: '1'
                      dimensions:
                        location:
                          key: '72'
                          id: AZ
                          name: Arizona
                          href: /objects/company-config/location/72
                        department:
                          key: '6'
                          id: '6'
                          name: Marketing
                          href: /objects/company-config/department/6
                        project:
                          key: null
                          name: null
                          id: null
                        customer:
                          key: null
                          name: null
                          id: null
                        vendor:
                          key: null
                          name: null
                          id: null
                        employee:
                          key: null
                          name: null
                          id: null
                        item:
                          key: null
                          name: null
                          id: null
                        class:
                          key: null
                          name: null
                          id: null
                        contract:
                          key: null
                          name: null
                          id: null
                        warehouse:
                          key: null
                          name: null
                          id: null
                      href: /objects/general-ledger/account-allocation-reverse/21
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
    patch:
      summary: Update an account allocation reversal
      description: >-
        Updates an existing account allocation reversal by setting field values. Any fields not provided remain unchanged.
      tags:
        - Account allocation reversals
      operationId: update-general-ledger-account-allocation-reverse-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/general-ledger-account-allocation-reverse'
            examples:
              Update an account allocation reversal:
                value:
                  glAccount:
                    id: '1000'
                  useSourceAccount: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Updated account allocation reversal
                properties:
                  ia::result:
                    $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Reference to updated account allocation reversal:
                  value:
                    ia::result:
                      key: '21'
                      id: '21'
                      href: /objects/general-ledger/account-allocation-reverse/21
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-category:
    get:
      summary: List account categories
      description: Returns a collection with a key, ID, and link for each account category.
      tags:
        - Account categories
      operationId: list-general-ledger-account-category
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of account categories
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List account categories:
                  value:
                    ia::result:
                      - key: '129'
                        id: Patents
                        href: /objects/general-ledger/account-category/129
                      - key: '130'
                        id: Trademark
                        href: /objects/general-ledger/account-category/130
                      - key: '131'
                        id: Copyrights
                        href: /objects/general-ledger/account-category/131
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: 4
                      previous: null
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-category/{key}:
    parameters:
      - name: key
        description: System-assigned unique key for the account category.
        in: path
        required: true
        schema:
          type: string
        example: '178'
    get:
      summary: Get an account category
      description: Returns detailed information for a specified account category.
      tags:
        - Account categories
      operationId: get-general-ledger-account-category-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Details of the account category
                properties:
                  ia::result:
                    $ref: '#/components/schemas/general-ledger-account-category'
                  ia::meta:
                    $ref: '#/components/schemas/metadata'
              examples:
                Get an account category:
                  value:
                    ia::result:
                      key: '129'
                      id: Patents
                      accountType: Intangible Assets
                      normalBalance: debit
                      href: /objects/general-ledger/account-category/129
                    ia::meta:
                      totalCount: 1
                      totalSuccess: 1
                      totalError: 0
        '400':
          $ref: '#/components/responses/400error'
      security:
        - OAuth2: []
  /objects/general-ledger/account-group:
    get:
      summary: List account groups
      description: >-
        Returns a collection with a key, ID, and link for each account group. This operation is mostly for use in testing; use the [query service](/openapi/common/core.query/tag/Query) to find account groups that meet specific criteria and to specify the properties that you want in the response.
      tags:
        - Account groups
      operationId: list-general-ledger-account-group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: List of account group objects
                properties:
                  ia::result:
                    type: array
                    items:
                      $ref: '#/components/schemas/object-reference'
                  ia::meta:
                    $ref: '#/components/schemas/metadata-pages'
              examples:
                List account groups:
                  value:
                    ia::result:
                      - key: '647'
                        id: Liquidity Ratios
                        href: /objects/general-ledger/account-group/647
                      - key: '621'
                        id: Cash and ST Investments
                        href: /objects/general-ledger/account-group/621
                      - key: '629'
                        id: Days in Month
                        href: /objects/general-ledger/account-group/629
                    ia::meta:
                      totalCount: 3
                      start: 1
                      pageSize: 100
                      next: null
                      previous: null
        '400':
[...]
